Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

Adding formdata to the node project, setting the esModuleInterop config as true for allowing import of npm modules, adding unit test for application/xhtml+xml content type post
  package-lock.json
  package.json
  spec/development/workload/OneNote.ts
  src/GraphRequest.ts
  tsconfig-cjs.json
  tsconfig-es.json
Due: npm run format:json, npm run format:ts

Adding a private query parsing function and more validations
  src/GraphRequest.ts
Due: npm run format:ts

Adding tests for url parsing and comments to the private url parsing functions
  spec/core/urlGeneration.ts
  spec/core/urlParsing.ts
  src/GraphRequest.ts
Due: npm run format:ts

Adding more information in the return comments for functions returning the GraphRequest instance
  src/GraphRequest.ts
Due: npm run format:ts

Adding unit test for serializecontent testing if content is null, changed content type setting for put and patch
  spec/core/GraphRequestUtil.ts
  spec/development/workload/OneNote.ts
  src/GraphRequest.ts
Due: npm run format:ts

Changing the conditional expression to check for undefined or null headers
  src/GraphRequest.ts
Due: npm run format:ts

Adding the missing return
  src/GraphRequest.ts
Due: npm run format:ts

Removing the try catch block from the test case
  spec/development/workload/OneNote.ts
Due: npm run format:ts

Returning if the content-type is present else setting content-type as default
  package-lock.json
  src/GraphRequest.ts
Due: npm run format:json, npm run format:ts

Installed eslint, removed tslint and related files and added rules
  .eslintignore
  .eslintrc.json
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  spec/DummyHandlerOptions.ts
  spec/core/urlParsing.ts
  spec/middleware/MiddlewareUtil.ts
  spec/middleware/RetryHandlerOptions.ts
  src/Client.ts
  src/GraphError.ts
  src/GraphErrorHandler.ts
  src/GraphRequest.ts
  src/GraphResponseHandler.ts
  src/ImplicitMSALAuthenticationProvider.ts
  src/Range.ts
  src/content/BatchRequestContent.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/ChaosHandler.ts
  src/middleware/MiddlewareUtil.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
  src/middleware/options/RedirectHandlerOptions.ts
  src/middleware/options/RetryHandlerOptions.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  tslint.json
Due: npm run format:json, npm run format:md, npm run format:ts

Temporary disabling no-mixed-spaces-and-tabs rule
  .eslintrc.json
Due: npm run format:json

Uninstalling formdata, restoring the tsconfigs and removing the condition to check if form-data is undefined in GraphRequest.ts
  package-lock.json
  package.json
  samples/browser/src/secrets.sample.js
  src/GraphRequest.ts
  tsconfig-cjs.json
  tsconfig-es.json
Due: npm run format:js, npm run format:json, npm run format:ts

Restoring file
  samples/browser/src/secrets.sample.js
Due: npm run format:js

Reverting the package json changes
  package-lock.json
  package.json
Due: npm run format:json

Add PathUtils
  src/GraphRequestUtil.ts
Due: npm run format:ts

Use PathUtils
  src/GraphRequest.ts
Due: npm run format:ts

Refactor path to url and specify return type
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
Due: npm run format:ts

Test false positives
  spec/core/urlParsing.ts
  src/GraphRequestUtil.ts
Due: npm run format:ts

Refactor PathUtils
  src/GraphRequestUtil.ts
Due: npm run format:ts

Update full path check
  spec/core/urlParsing.ts
  src/GraphRequestUtil.ts
Due: npm run format:ts

Adding request options property to PageIterator
  src/tasks/PageIterator.ts
Due: npm run format:ts

Adding prettier rule in eslint.rc
  .eslintrc.json
  package.json
Due: npm run format:json

Removing the inline tslint rules
  spec/content/BatchRequestContent.ts
  spec/core/Client.ts
  spec/core/GraphErrorHandler.ts
  spec/core/GraphResponseHandler.ts
  spec/core/HTTPClient.ts
  spec/core/HTTPClientFactory.ts
  spec/core/urlGeneration.ts
  spec/core/urlParsing.ts
  spec/middleware/AuthenticationHandler.ts
  spec/middleware/ChaosHandler.ts
  spec/middleware/MiddlewareControl.ts
  spec/middleware/RedirectHandler.ts
  spec/middleware/RedirectHandlerOptions.ts
  spec/middleware/RetryHandler.ts
  spec/middleware/RetryHandlerOptions.ts
  spec/middleware/TelemetryHandler.ts
  spec/middleware/TelemetryHandlerOptions.ts
  spec/tasks/LargeFileUploadTask.ts
  spec/tasks/OneDriveLargeFileUploadTask.ts
  spec/tasks/PageIterator.ts
  src/GraphErrorHandler.ts
  src/GraphRequest.ts
  src/HTTPClientFactory.ts
  src/content/BatchRequestContent.ts
  src/middleware/MiddlewareControl.ts
  src/middleware/RetryHandler.ts
  src/middleware/options/IMiddlewareOptions.ts
  src/middleware/options/TelemetryHandlerOptions.ts
Due: npm run format:ts

Added period
  CONTRIBUTING.md
Due: npm run format:md

Adding tests for page iterator task to test passing along the headers
  spec/development/workload/PageIterator.ts
  src/tasks/PageIterator.ts
Due: npm run format:ts

using headersinit type for headers
  src/GraphRequest.ts
  src/tasks/PageIterator.ts
Due: npm run format:ts

Specifying parameter definition
  src/tasks/PageIterator.ts
Due: npm run format:ts

using constants
  spec/development/workload/PageIterator.ts
Due: npm run format:ts

Updating function documentation
  src/GraphRequest.ts
Due: npm run format:ts

remove response type, test passing fetchoptions
  spec/development/workload/PageIterator.ts
  src/tasks/PageIterator.ts
Due: npm run format:ts

Update OneDriveLargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Correcting missing import, incorrect reference in example
  README.md
Due: npm run format:md

Update src/tasks/OneDriveLargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Update OneDriveLargeFileUploadTask.ts (#325)
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Correcting missing import, incorrect reference in example (#326)
  README.md
Due: npm run format:md

More rules
  .eslintrc.json
  spec/content/BatchRequestContent.ts
  spec/core/Client.ts
  spec/core/GraphResponseHandler.ts
  spec/middleware/RedirectHandler.ts
  spec/middleware/RedirectHandlerOptions.ts
  spec/middleware/RetryHandler.ts
  spec/middleware/RetryHandlerOptions.ts
  spec/tasks/LargeFileUploadTask.ts
  spec/tasks/PageIterator.ts
  src/GraphRequest.ts
  src/middleware/options/RedirectHandlerOptions.ts
  src/middleware/options/RetryHandlerOptions.ts
  src/middleware/options/TelemetryHandlerOptions.ts
Due: npm run format:json, npm run format:ts

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
