Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

.lintstagedrc:

{
	"*.css": ["npm run format:css", "git add"],
	"*.html": ["npm run format:html", "git add"],
	"*.js": ["npm run format:js", "git add"],
	"*.json": ["npm run format:json", "git add"],
	"*.md": ["npm run format:md", "git add"],
	".*rc": ["npm run format:rc", "git add"],
	"*.ts": ["npm run format:ts", "git add"]
}

Got Function past the compilation stage.
  src/middleware/MiddlewareControl.ts
Due: npm run format:ts

Fix in browser samples
  samples/browser/src/request.js
Due: npm run format:js

Changed default content-type to application/json for put request
  src/GraphRequest.ts
Due: npm run format:ts

Changed docs to address PR comments.
  src/middleware/MiddlewareControl.ts
Due: npm run format:ts

Updated additional resources links
  README.md
Due: npm run format:md

will change variant name to correctly.
  README.md
Due: npm run format:md

Renamed msalInstance as msalApplication
  README.md
  docs/CreatingClientInstance.md
  samples/browser/src/main.js
  src/ImplicitMSALAuthenticationProvider.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
Due: npm run format:js, npm run format:md, npm run format:ts

Bumped version to '2.0.0-Preview.2'
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Changes: 1. Fix bug "Request" is not defined 2. Update dependencies to latest versions
  package-lock.json
  package.json
  samples/browser/package-lock.json
  samples/browser/package.json
  spec/development/workload/OneNote.ts
  spec/development/workload/delta-query.ts
  spec/development/workload/excel.ts
  spec/development/workload/groups.ts
  spec/development/workload/insights.ts
  spec/development/workload/open-extensions.ts
  spec/development/workload/users.ts
  spec/package-lock.json
  spec/package.json
  src/GraphErrorHandler.ts
  src/GraphRequest.ts
  src/HTTPClient.ts
  src/middleware/MiddlewareUtil.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:json, npm run format:ts

Bumped version to '2.0.0-Preview.3'
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Fix syntax error in code sample
  README.md
Due: npm run format:md

Fix: missing handling for error in msal
  src/ImplicitMSALAuthenticationProvider.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
Due: npm run format:ts

Bumped version to '2.0.0-Preview.4'
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Update package.json
  package.json
Due: npm run format:json

Made changes so that batching works for json response
  src/content/BatchResponseContent.ts
Due: npm run format:ts

Added usage information in bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: npm run format:md

Updated the version of dependencies
  samples/browser/package-lock.json
  samples/browser/package.json
Due: npm run format:json

Added some place holders to Usage Information
  .github/ISSUE_TEMPLATE/bug_report.md
Due: npm run format:md

Bumped version to '2.0.0-Preview.5'
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

updated broken link in README
  docs/CustomMiddlewareChain.md
Due: npm run format:md

Passes authority via tokenRequest in MSAL auth provider
  src/ImplicitMSALAuthenticationProvider.ts
Due: npm run format:ts

Implemented a service which returns the response, basic version
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerOptions.ts
  src/middleware/options/TestingStrategy.ts
Due: npm run format:ts

Changed map structure in testing Handler
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerOptions.ts
Due: npm run format:ts

Request level Testing Handler working
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerOptions.ts
Due: npm run format:ts

basic version of Testing Handler random mode working
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerOptions.ts
Due: npm run format:ts

changed the structure of testing Handler
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerOptions.ts
Due: npm run format:ts

Bumped version to '2.0.0'
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Changed the structure of the code, now a seperate file for data, now testing handler contains all the functions
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerData.ts
  src/middleware/options/TestingHandlerOptions.ts
Due: npm run format:ts

made responseBody code generated
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerData.ts
  src/middleware/options/TestingHandlerOptions.ts
Due: npm run format:ts

FIx Batching Documentation code
  docs/content/Batching.md
Due: npm run format:md

client level exact matching working
  src/middleware/TestingHandler.ts
Due: npm run format:ts

basic client level regex match working, test required
  src/middleware/TestingHandler.ts
Due: npm run format:ts

changed the structure of code for single function single responsibility, made responseHeader code generated
  src/middleware/TestingHandler.ts
Due: npm run format:ts

made code clearer
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerData.ts
  src/middleware/options/TestingHandlerOptions.ts
Due: npm run format:ts

removed unnecessary code
  src/middleware/TestingHandler.ts
Due: npm run format:ts

made some changes
  src/middleware/TestingHandler.ts
Due: npm run format:ts

added comments for functions
  src/middleware/TestingHandler.ts
Due: npm run format:ts

made testing Handler
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerData.ts
  src/middleware/options/TestingHandlerOptions.ts
  src/middleware/options/TestingStrategy.ts
Due: npm run format:ts

added tests for testing handler
  spec/middleware/TestingHandler.ts
Due: npm run format:ts

Post request with empty body, now working fine.
  src/GraphRequestUtil.ts
Due: npm run format:ts
