Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

Revert "Bump karma from 6.3.2 to 6.3.10"
  package-lock.json
Due: npm run format:json

Revert "Bump karma from 6.3.2 to 6.3.10" (#554)
  package-lock.json
Due: npm run format:json

Adding initial thoughts on Kiota JS for Graph
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  changelogs/v3-upgrade-guide.md
  design/kiota-e2e.md
  design/large-file-upload-task-design.md
  design/publishing.md
  docs/CancellingAHTTPRequest.md
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/README.md
Due: npm run format:md

Revert "Adding initial thoughts on Kiota JS for Graph"
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  changelogs/v3-upgrade-guide.md
  design/kiota-e2e.md
  design/large-file-upload-task-design.md
  design/publishing.md
  docs/CancellingAHTTPRequest.md
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/README.md
Due: npm run format:md

Adding kiota e2e
  design/kiota-e2e.md
Due: npm run format:md

Updates
  design/kiota-e2e.md
Due: npm run format:md

Update design/kiota-e2e.md
  design/kiota-e2e.md
Due: npm run format:md

Adding types from our package
  design/kiota-e2e.md
Due: npm run format:md

Adding more concepts to the e2e
  design/kiota-e2e.md
Due: npm run format:md

Create GraphClientsDesign.md
  design/GraphClientsDesign.md
Due: npm run format:md

Update GraphClientsDesign.md
  design/GraphClientsDesign.md
Due: npm run format:md

adding graph authprovider
  package-lock.json
  package.json
  src/CallBackAccessTokenProvider.ts
  src/Client.ts
  src/GraphRequest.ts
  src/IAuthenticationProvider.ts
  src/IAuthenticationProviderOptions.ts
  src/IClientOptions.ts
  src/authentication/GraphAuthenticationProvider.ts
  src/authentication/IAuthProvider.ts
  src/authentication/IAuthProviderCallback.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/options/AuthenticationHandlerOptions.ts
Due: npm run format:json, npm run format:ts

adding graph auth call before client
  .eslintrc.json
  .huskyrc
  package-lock.json
  package.json
  src/GraphRequest.ts
Due: npm run format:json, npm run format:rc, npm run format:ts

using kiota auth interfaces
  package.json
  samples/typescript/clientInitialization/ClientWithOptions.ts
  src/Client.ts
  src/CustomAuthenticationProvider.ts
  src/GraphRequest.ts
  src/HTTPClientFactory.ts
  src/IAuthProvider.ts
  src/IAuthProviderCallback.ts
  src/IAuthenticationProvider.ts
  src/IClientOptions.ts
  src/IOptions.ts
  src/authentication/SimpleAuthentication/IAuthProviderCallback.ts
  src/authentication/SimpleAuthentication/SimpleAccessTokenProvider.ts
  src/authentication/SimpleAuthentication/SimpleAuthenticationProvider.ts
  src/authentication/azureTokenCredentials/ITokenCredentialAuthenticationProviderOptions.ts
  src/authentication/azureTokenCredentials/TokenCredentialAuthenticationProvider.ts
  src/authentication/msal-browser/AuthCodeMSALBrowserAuthenticationProvider.ts
  src/authentication/msalOptions/MSALAuthenticationProviderOptions.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/MiddlewareFactory.ts
  src/middleware/options/AuthenticationHandlerOptions.ts
Due: npm run format:json, npm run format:ts

changing tenant id
  test/node/authentication/TokenCredentialAuthenticationProvider.ts
Due: npm run format:ts

updating tests with correlation id
  test/common/authentication/AuthCodeMSALBrowserAuthenticationProvider.ts
Due: npm run format:ts

adding a shim for buffer
  dom-shim.d.ts
  package-lock.json
  package.json
Due: npm run format:json, npm run format:ts

adding node stream interface
  .eslintrc.json
  dom-shim.d.ts
  src/index.ts
  src/tasks/FileUploadTask/FileObjectClasses/StreamUpload.ts
  tsconfig-base.json
Due: npm run format:json, npm run format:ts

record reqoptions
  packages/abstractions/package.json
  packages/abstractions/src/requestInformation.ts
  packages/abstractions/src/utils/index.ts
  packages/abstractions/src/utils/urlUtil.ts
  packages/graph/tsconfig.cjs.json
  packages/http/fetch/package.json
  packages/http/fetch/src/browser/index.ts
  packages/http/fetch/src/httpClient.ts
  packages/http/fetch/src/index.ts
  packages/http/fetch/src/middlewares/browser/middlewareFactory.ts
  packages/http/fetch/src/middlewares/redirectHandler.ts
  packages/http/fetch/tsconfig.base.json
  packages/http/fetch/tsconfig.cjs.json
  yarn.lock
Due: npm run format:json, npm run format:ts

using reqinit instead of fetch-init
  packages/abstractions/package.json
  packages/graph/package.json
  packages/graph/src/IClientOptions.ts
  packages/graph/src/browser/index.ts
  packages/graph/src/index.ts
  packages/graph/src/middleware/MiddlewareFactory.ts
  packages/graph/tsconfig.cjs.json
  packages/http/fetch/package.json
  packages/http/fetch/src/fetchRequestAdapter.ts
  packages/http/fetch/src/httpClient.ts
  packages/http/fetch/src/middlewares/browser/middlewareFactory.ts
  packages/http/fetch/src/middlewares/customFetchHandler.ts
  packages/http/fetch/src/middlewares/middleware.ts
  packages/http/fetch/src/middlewares/middlewareFactory.ts
  packages/http/fetch/src/middlewares/redirectHandler.ts
  packages/http/fetch/src/middlewares/retryHandler.ts
  packages/http/fetch/tsconfig.base.json
  yarn.lock
Due: npm run format:json, npm run format:ts

telemetryhandler in kiota, deleted http client factory
  package.json
  packages/abstractions/package.json
  packages/graph/package.json
  packages/graph/src/Client.ts
  packages/graph/src/GraphRequest.ts
  packages/graph/src/HTTPClient.ts
  packages/graph/src/HTTPClientFactory.ts
  packages/graph/src/IClientOptions.ts
  packages/graph/src/authentication/SimpleAuthentication/SimpleAccessTokenProvider.ts
  packages/graph/src/browser/HttpClientFactory.ts
  packages/graph/src/browser/index.ts
  packages/graph/src/index.ts
  packages/graph/src/tasks/PageIterator.ts
  packages/http/fetch/package.json
  packages/http/fetch/src/httpClient.ts
  packages/http/fetch/src/middlewares/options/telemetryHandlerOptions.ts
  packages/http/fetch/src/middlewares/telemetryHandler.ts
  packages/http/fetch/tsconfig.cjs.json
Due: npm run format:json, npm run format:ts

renaming shims
  package.json
  shims.d.ts
  src/browser/index.ts
  src/index.ts
Due: npm run format:json, npm run format:ts

remove dom-shim
  dom-shim.d.ts
Due: npm run format:ts

using uintarray
  package.json
  shims.d.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:json, npm run format:ts

update serialization
  package.json
  packages/abstractions/src/apiClientBuilder.ts
  packages/abstractions/src/readableStreamContent.ts
  packages/abstractions/src/requestInformation.ts
  packages/abstractions/src/requestOption.ts
  packages/abstractions/src/utils/browser/index.ts
  packages/abstractions/src/utils/browser/urlUtil.ts
  packages/graph/package.json
  packages/graph/src/test.ts
  packages/graphService/package.json
  packages/graphService/src/graphServiceClient.ts
  packages/graphService/tsconfig.cjs.json
  packages/graphService/tsconfig.es.json
  packages/serialization/json/package.json
  packages/testLibraries/src/testMail.ts
  yarn.lock
Due: npm run format:json, npm run format:ts

Remove node type ambient declaration (#618)
  .eslintrc.json
  package.json
  shims.d.ts
  src/browser/index.ts
  src/index.ts
  src/tasks/FileUploadTask/FileObjectClasses/StreamUpload.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  tsconfig-base.json
Due: npm run format:json, npm run format:ts

uint8array in fileupload
  package-lock.json
  src/tasks/FileUploadTask/FileObjectClasses/FileUpload.ts
Due: npm run format:json, npm run format:ts

uint8array in fileupload (#622)
  package-lock.json
  src/tasks/FileUploadTask/FileObjectClasses/FileUpload.ts
Due: npm run format:json, npm run format:ts

3.0.2
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

removing preview suffix npmrc
  lerna.json
  package.json
  packages/graph/.npmrc
  packages/graph/package.json
  packages/graph/src/Client.ts
  packages/graphService/package.json
  packages/graphService/src/graphServiceClient.ts
  packages/graphService/tsconfig.cjs.json
  packages/graphService/tsconfig.es.json
  packages/http/fetch/.npmrc
  packages/serialization/json/.npmrc
  packages/testLibraries/dist/cjs/testMail.d.ts
  packages/testLibraries/dist/cjs/testMail.d.ts.map
  packages/testLibraries/dist/cjs/testMail.js
  packages/testLibraries/dist/cjs/testMail.js.map
  packages/testLibraries/package.json
  yarn-error.log
  yarn.lock
Due: npm run format:js, npm run format:json, npm run format:rc, npm run format:ts

running sample
  lerna.json
  package.json
  packages/abstractions/package.json
  packages/graph/package.json
  packages/graph/src/Client.ts
  packages/graph/src/authentication/SimpleAuthentication/IAuthProviderCallback.ts
  packages/graph/src/authentication/SimpleAuthentication/SimpleAccessTokenProvider.ts
  packages/graph/src/authentication/SimpleAuthentication/SimpleAuthenticationProvider.ts
  packages/graph/src/test.ts
  packages/graphService/package.json
  packages/graphService/src/graphServiceClient.ts
  packages/http/fetch/package.json
  packages/testLibraries/.gitignore
  packages/testLibraries/package.json
  packages/testLibraries/src/testMail.ts
  packages/testLibraries/tsconfig.cjs.json
  yarn.lock
Due: npm run format:json, npm run format:ts

testmail update
  package.json
  packages/testLibraries/package.json
  packages/testLibraries/src/testMail.ts
Due: npm run format:json, npm run format:ts

Update GraphRequest.ts
  src/GraphRequest.ts
Due: npm run format:ts

appending custom hosts
  package-lock.json
  package.json
  src/Client.ts
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/IClientOptions.ts
  src/authentication/SimpleAuthentication/IAuthProviderCallback.ts
  src/authentication/SimpleAuthentication/SimpleAccessTokenProvider.ts
  src/authentication/SimpleAuthentication/SimpleAuthenticationProvider.ts
  src/browser/index.ts
  test/node/authentication/TokenCredentialAuthenticationProvider.ts
Due: npm run format:json, npm run format:ts

updating tests, configurations
  authProviderOptions/ReadMe.md
  authProviderOptions/authCodeMsalBrowser/index.ts
  authProviderOptions/azureTokenCredentials/index.ts
  authProviderOptions/es/authCodeMsalBrowser/index.ts
  authProviderOptions/es/azureTokenCredentials/index.ts
  package-lock.json
  package.json
  rollup.config.js
  src/Client.ts
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/authentication/SimpleAuthentication/SimpleAccessTokenProvider.ts
  src/authentication/SimpleAuthentication/SimpleAuthenticationProvider.ts
  src/browser/index.ts
  src/index.ts
  test/DummyAuthenticationProvider.ts
  test/common/authentication/AuthCodeMSALBrowserAuthenticationProvider.ts
  test/common/core/Client.ts
  test/common/core/HTTPClientFactory.ts
  test/common/core/SimpleAuthenticationProvider.ts
  test/common/middleware/AuthenticationHandler.ts
  test/common/middleware/AuthenticationHandlerOptions.ts
  test/common/middleware/MiddlewareFactory.ts
  test/development/HardCodedAuthenticationProvider.ts
  test/development/test-helper.ts
  test/development/workload/PageIterator.ts
  test/node/authentication/TokenCredentialAuthenticationProvider.ts
  test/test-helper.ts
  test/tsconfig-test-development.json
  tsconfig-base.json
  tsconfig-cjs.json
  tsconfig-es.json
  tsconfig-sub-cjs.json
  tsconfig-sub-es.json
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
