Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

.lintstagedrc:

{
	"*.css": ["npm run format:css", "git add"],
	"*.html": ["npm run format:html", "git add"],
	"*.js": ["npm run format:js", "git add"],
	"*.json": ["npm run format:json", "git add"],
	"*.md": ["npm run format:md", "git add"],
	".*rc": ["npm run format:rc", "git add"],
	"*.ts": ["npm run format:ts", "git add"]
}

Updates to the packages + Reformatingnm
  design/kiota-e2e.md
Due: npm run format:md

adding query options
  packages/graph/src/Client.ts
  packages/graph/src/GraphFetchRequestAdapter.ts
  packages/graph/src/QueryOptions.ts
Due: npm run format:ts

adding query options
  packages/graph/src/GraphFetchRequestAdapter.ts
  packages/graph/src/GraphRequest.ts
  packages/graph/src/QueryOptions.ts
  packages/http/fetch/src/fetchRequestAdapter.ts
  packages/serviceLib/src/main/main.ts
  packages/testLibraries/src/testMail.ts
Due: npm run format:ts

Adding models + interfaces
  design/kiota-e2e.md
Due: npm run format:md

adding graph base client
  packages/abstractions/src/nativeResponseHandler.ts
  packages/abstractions/src/requestAdapter.ts
  packages/abstractions/src/responseHandler.ts
  packages/abstractions/src/serialization/additionalDataHolder.ts
  packages/abstractions/src/serialization/index.ts
  packages/abstractions/src/serialization/parsable.ts
  packages/abstractions/src/serialization/parsableFactory.ts
  packages/abstractions/src/serialization/parseNode.ts
  packages/graph/src/Client.ts
  packages/graph/src/IClientOptions.ts
  packages/graph/src/authentication/SimpleAuthentication/IAuthProviderCallback.ts
  packages/graph/src/authentication/SimpleAuthentication/SimpleAccessTokenProvider.ts
  packages/graph/src/authentication/SimpleAuthentication/SimpleAuthenticationProvider.ts
  packages/graph/src/browser/HttpClientFactory.ts
  packages/graph/src/browser/index.ts
  packages/graph/src/index.ts
  packages/graph/src/middleware/HTTPMessageHandler.ts
  packages/graph/src/middleware/TelemtetryUtil.ts
  packages/graph/src/requestBuilderUtils/GraphBaseClient.ts
  packages/graphService/src/graphServiceClient.ts
  packages/graphService/src/models/microsoft/graph/attachment.ts
Due: npm run format:ts

Create projectbot.yml
  .github/workflows/projectbot.yml
Due: none

readding authhandler in middleware
  samples/javascript/clientInitialization/ClientWithOptions.js
  samples/package-lock.json
  src/Client.ts
  src/GraphRequest.ts
  src/HTTPClientFactory.ts
  src/middleware/AuthenticationHandler.ts
  test/common/core/HTTPClientFactory.ts
Due: npm run format:js, npm run format:json, npm run format:ts

using requestoption array
  packages/abstractions/src/requestInformation.ts
  packages/abstractions/src/requestOption.ts
  packages/graph/src/HttpClientFactory.ts
  packages/graph/src/browser/HttpClientFactory.ts
  packages/graph/src/requestBuilderUtils/GraphBaseClient.ts
  packages/graph/src/test.ts
  packages/http/fetch/src/browser/index.ts
  packages/http/fetch/src/fetchRequestAdapter.ts
  packages/http/fetch/src/httpClient.ts
  packages/http/fetch/src/index.ts
  packages/http/fetch/src/middlewares/browser/defaultFetchHandler.ts
  packages/http/fetch/src/middlewares/browser/middlewareFactory.ts
  packages/http/fetch/src/middlewares/defaultFetchHandler.ts
  packages/http/fetch/src/middlewares/middlewareFactory.ts
  packages/http/fetch/src/middlewares/options/RetryHandlerOptions.ts
  packages/http/fetch/src/middlewares/options/telemetryHandlerOptions.ts
  packages/http/fetch/src/middlewares/retryHandler.ts
  packages/http/fetch/src/utils/fetchDefinitions.ts
  packages/http/fetch/src/utils/headersUtil.ts
Due: npm run format:ts

checking from https
  src/authentication/SimpleAuthentication/SimpleAccessTokenProvider.ts
  src/middleware/AuthenticationHandler.ts
Due: npm run format:ts

telemetry work, remove fetch middleware
  src/Client.ts
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/HTTPClient.ts
  src/HTTPClientFactory.ts
  src/IClientOptions.ts
  src/MiddlewareFactory.ts
  src/authentication/SimpleAuthentication/SimpleAccessTokenProvider.ts
  src/authentication/SimpleAuthentication/SimpleAuthenticationProvider.ts
  src/browser/MiddlewareFactory.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/GraphTelemetryConfig.ts
  src/middleware/HTTPMessageHandler.ts
  src/middleware/MiddlewareFactory.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryConfiguration.ts
  src/middleware/TelemetryHandler.ts
  src/middleware/options/RedirectHandlerOptions.ts
  src/middleware/options/RetryHandlerOptions.ts
  src/requestBuilderUtils/GraphBaseClient.ts
  src/requestBuilderUtils/GraphSDKConfig.ts
Due: npm run format:ts

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

adding graph base client, testing if auth is present b4 appending
  package-lock.json
  package.json
  samples/package-lock.json
  src/Client.ts
  src/GraphRequestUtil.ts
  src/MiddlewareFactory.ts
  src/Version.ts
  src/browser/MiddlewareFactory.ts
  src/index.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/GraphTelemetryConfig.ts
  src/middleware/TelemetryUtil.ts
  src/requestBuilderUtils/GraphBaseClient.ts
  src/requestBuilderUtils/GraphSDKConfig.ts
  test/common/core/Client.ts
  test/common/middleware/RedirectHandler.ts
  test/common/middleware/RedirectHandlerOptions.ts
  test/common/middleware/RetryHandler.ts
  test/common/middleware/RetryHandlerOptions.ts
  test/common/middleware/TelemetryHandler.ts
Due: npm run format:json, npm run format:ts

updating chaoshandler, tests, removing middleware, content
  src/IClientOptions.ts
  src/IContext.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/ChaosHandler.ts
  src/middleware/IMiddleware.ts
  src/middleware/MiddlewareControl.ts
  src/middleware/options/ChaosHandlerOptions.ts
  test/DummyHTTPMessageHandler.ts
  test/common/core/HTTPClient.ts
  test/common/core/HTTPClientFactory.ts
  test/common/middleware/ChaosHandler.ts
  test/common/middleware/MiddlewareFactory.ts
  test/common/middleware/TelemetryHandler.ts
Due: npm run format:ts

updating unit tests
  src/Client.ts
  src/MiddlewareFactory.ts
  src/browser/MiddlewareFactory.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/ChaosHandler.ts
  src/middleware/Telemetry/GraphTelemetryConfig.ts
  src/middleware/Telemetry/TelemetryFeatureUsageFlag.ts
  src/middleware/Telemetry/TelemetryUtil.ts
  test/browser/middleware/MiddlewareFactory.ts
  test/common/core/Client.ts
  test/common/middleware/ChaosHandler.ts
  test/common/middleware/MiddlewareControl.ts
  test/common/middleware/TelemetryHandler.ts
  test/common/middleware/TelemetryHandlerOptions.ts
  test/node/middleware/MiddlewareFactory.ts
Due: npm run format:ts

authhandler delete header and ci version
  .github/workflows/ci_validation.yml
  src/middleware/AuthenticationHandler.ts
  test/common/core/Client.ts
Due: npm run format:ts

index update
  package-lock.json
  package.json
  src/browser/index.ts
  src/index.ts
Due: npm run format:json, npm run format:ts

setting default scope
  src/authentication/SimpleAuthentication/SimpleAccessTokenProvider.ts
  src/authentication/SimpleAuthentication/SimpleAuthenticationProvider.ts
Due: npm run format:ts

using kiota default middleware chain
  src/MiddlewareFactory.ts
  src/browser/MiddlewareFactory.ts
Due: npm run format:ts

npm audit
  package-lock.json
  package.json
  scripts/package-lock.json
  scripts/package.json
Due: npm run format:json

Doc: fix wrong link
  README.md
Due: npm run format:md

doc: add missing import
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
Due: npm run format:md

doc: add missing import (#781)
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
Due: npm run format:md

Doc: fix wrong link (#780)
  README.md
Due: npm run format:md

adding requestinfo step
  src/content/BatchRequestContent.ts
Due: npm run format:ts

mapping from collection response to existing page collection
  src/tasks/PageIterator.ts
  src/tasks/ParsablePageIterator.ts
  src/tasks/test.ts
  src/tasks/user.ts
  src/tasks/userCollectionResponse.ts
Due: npm run format:ts

Changing to GraphBaseClient
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Changing to GraphBaseClient (#796)
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

update client options and middleware options
  package-lock.json
  package.json
  src/Client.ts
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/IClientOptions.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/options/IMiddlewareOptions.ts
  src/tasks/PageIterator.ts
  test/DummyHandlerOptions.ts
  test/browser/middleware/MiddlewareFactory.ts
  test/development/secrets.sample.ts
  test/development/workload/PageIterator.ts
  test/node/middleware/MiddlewareFactory.ts
Due: npm run format:json, npm run format:ts

restore secrets
  test/development/secrets.sample.ts
Due: npm run format:ts
