Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

Add header property to Graph error object (#1133)
  shims.d.ts
  src/GraphError.ts
  src/GraphErrorHandler.ts
  src/GraphRequest.ts
  test/common/core/GraphErrorHandler.ts
Due: npm run format:ts

Update AuthCodeMSALBrowserAuthenticationProvider.md
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
Due: npm run format:md

update version
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Update design/service-library.md
  design/service-library.md
Due: npm run format:md

Update ci-build-production.yml
  .azure-pipelines/ci-build-production.yml
Due: none

strip away version from batch request url
  src/content/BatchRequestContent.ts
Due: npm run format:ts

set url to stripped path
  src/content/BatchRequestContent.ts
Due: npm run format:ts

test a batch request with full url
  test/common/content/BatchRequestContent.ts
Due: npm run format:ts

replace host stripping block with regex based replace
  src/content/BatchRequestContent.ts
Due: npm run format:ts

Update TokenCredentialAuthenticationProvider.md
  docs/TokenCredentialAuthenticationProvider.md
Due: npm run format:md

Update CreatingClientInstance.md
  docs/CreatingClientInstance.md
Due: npm run format:md

Update projectbot.yml
  .github/workflows/projectbot.yml
Due: none

Add CODEOWNERS with msgraph-devx-typescript-write
  .github/CODEOWNERS
Due: none

Add CODEOWNERS with msgraph-devx-typescript-write (#1296)
  .github/CODEOWNERS
Due: none

Fix code block
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
Due: npm run format:md

feat: use 500 as default status code since it's an unhandled server error
  src/GraphErrorHandler.ts
Due: npm run format:ts

include authProviderOptions to the directories meant for publish
  package.json
Due: npm run format:json

add index file to authentication/azureTokenCredentials and authentication/msal-browser paths
  .gitignore
  package-lock.json
  package.json
  src/authentication/azureTokenCredentials/index.ts
  src/authentication/msal-browser/index.ts
Due: npm run format:json, npm run format:ts

Update CreatingClientInstance.md (#1183)
  docs/CreatingClientInstance.md
Due: npm run format:md

chore: capture initial branch policy settings
  .github/policies/msgraph-sdk-javascript-branch-protection.yml
Due: none

chore: capture initial branch policy settings (#1326)
  .github/policies/msgraph-sdk-javascript-branch-protection.yml
Due: none

chore: remove unsupported version of node (12) from matrix
  .azure-pipelines/ci-build-production.yml
Due: none

Add node 18 and 20 to the matrix
  .azure-pipelines/ci-build-production.yml
Due: none

remove 14 from matrix
  .azure-pipelines/ci-build-production.yml
Due: none

remove node versions 12 & 14 from the pipeline build configuration
  .azure-pipelines/ci-build-production.yml
Due: none

fix failing test for node version 18 & 20
  test/common/content/BatchRequestContent.ts
  test/common/core/HTTPClient.ts
  test/common/middleware/AuthenticationHandler.ts
  test/common/middleware/MiddlewareUtil.ts
  test/common/middleware/TelemetryHandler.ts
  test/node/content/BatchRequestContent.ts
Due: npm run format:ts

use a dummy base url for tests
  test/common/content/BatchRequestContent.ts
  test/common/core/HTTPClient.ts
  test/common/middleware/AuthenticationHandler.ts
  test/common/middleware/MiddlewareUtil.ts
  test/common/middleware/TelemetryHandler.ts
  test/test-helper.ts
Due: npm run format:ts

add node verions 18 and 20 to the github workflow config
  .github/workflows/ci_validation.yml
Due: none

update matrix of required status checks
  .github/policies/msgraph-sdk-javascript-branch-protection.yml
Due: none

increment version to 3.0.6
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

- add matrix build check
  .github/workflows/ci_validation.yml
Due: none

chore: update branch protection rules
  .github/policies/msgraph-sdk-javascript-branch-protection.yml
Due: none

- add CodeQL check
  .github/policies/msgraph-sdk-javascript-branch-protection.yml
Due: none

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
