Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

.lintstagedrc:

{
	"*.css": ["npm run format:css", "git add"],
	"*.html": ["npm run format:html", "git add"],
	"*.js": ["npm run format:js", "git add"],
	"*.json": ["npm run format:json", "git add"],
	"*.md": ["npm run format:md", "git add"],
	".*rc": ["npm run format:rc", "git add"],
	"*.ts": ["npm run format:ts", "git add"]
}

Removing rethrown errors
  .eslintrc.json
  spec/content/BatchRequestContent.ts
  spec/core/HTTPClient.ts
  spec/middleware/RetryHandler.ts
  spec/middleware/RetryHandlerOptions.ts
  spec/tasks/PageIterator.ts
  src/Client.ts
  src/GraphRequest.ts
  src/GraphResponseHandler.ts
  src/ImplicitMSALAuthenticationProvider.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/ChaosHandler.ts
  src/middleware/HTTPMessageHandler.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
  src/middleware/options/IMiddlewareOptions.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  src/tasks/PageIterator.ts
Due: npm run format:json, npm run format:ts

Update docs/content/Batching.md
  docs/content/Batching.md
Due: npm run format:md

Adding headers to chaoshandleroptions
  package-lock.json
  package.json
  src/Version.ts
  src/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
  test/common/middleware/ChaosHandler.ts
  test/development/workload/PageIterator.ts
Due: npm run format:json, npm run format:ts

Adding documentation
  .gitignore
  .huskyrc
  .prettierignore
  .vscode/launch.json
  lib/.npmignore
  package.json
  samples/node/README.md
  src/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
  test/Tests.md
  test/browser/BrowserTests.md
  test/common/core/GraphClientError.ts
  test/common/core/HTTPClient.ts
  test/development/DevelopmentTests.md
  test/development/secrets.ts
  test/development/workload/OneNote.ts
  test/development/workload/PageIterator.ts
  test/node/NodeTests.md
  test/tsconfig-test-development.json
  test/tsconfig-test-es.json
  tsconfig-base.json
Due: npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

Delete files and format
  .gitignore
  CONTRIBUTING.md
  README.md
  src/TestInclusion.ts
  test/common/middleware/MiddlewareUtil.ts
  test/development/secrets.ts
  test/development/workload/open-extensions.ts
  test/development/workload/users.ts
  test/node/content/BatchRequestContent.ts
  tsconfig-cjs.json
Due: npm run format:json, npm run format:md, npm run format:ts

Removing rethrown errors
  .eslintrc.json
  src/GraphResponseHandler.ts
  src/HTTPClient.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  src/tasks/LargeFileUploadTask.ts
Due: npm run format:json, npm run format:ts

Keywords, msal files path change
  auth/azureTokenCredentials/index.ts
  auth/es/azureTokenCredentials/index.ts
  auth/es/msal/index.ts
  auth/msal/index.ts
  authProviderOptions/ReadMe.md
  authProviderOptions/azureTokenCredentials/index.ts
  authProviderOptions/es/azureTokenCredentials/index.ts
  authProviderOptions/es/msal/index.ts
  authProviderOptions/msal/index.ts
  package-lock.json
  package.json
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/Secrets.ts
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/index.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/src/Secrets.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/src/index.ts
  spec/authentication/TokenCredentialAuthenticationProvider.ts
  spec/middleware/AuthenticationHandlerOptions.ts
  spec/middleware/MSALAuthenticationProviderOptions.ts
  src/authentication/azureTokenCredentials/ITokenCredentialAuthenticationProviderOptions.ts
  src/authentication/azureTokenCredentials/TokenCredentialAuthenticationProvider.ts
  src/authentication/msal/ImplicitMSALAuthenticationProvider.ts
  src/authentication/msal/MSALAuthenticationProviderOptions.ts
  src/azureCredentials.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  src/browser/index.ts
  src/index.ts
  tsconfig-sub-cjs.json
  tsconfig-sub-es.json
Due: npm run format:json, npm run format:md, npm run format:ts

Resetting file, removing empty references
  samples/node/main.js
  src/GraphRequest.ts
  tsconfig-cjs.json
  tsconfig-es.json
Due: npm run format:js, npm run format:json, npm run format:ts

Adding eslint-sort-import plugin
  .eslintrc.json
  package-lock.json
  package.json
  spec/content/BatchRequestContent.ts
  spec/core/Client.ts
  spec/middleware/MiddlewareControl.ts
  spec/middleware/RetryHandler.ts
  spec/test-helper.ts
  src/ImplicitMSALAuthenticationProvider.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/ChaosHandler.ts
  src/middleware/HTTPMessageHandler.ts
  src/middleware/MiddlewareFactory.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
  src/middleware/options/AuthenticationHandlerOptions.ts
  src/middleware/options/RetryHandlerOptions.ts
  src/middleware/options/TelemetryHandlerOptions.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:json, npm run format:ts

Create versionTest.yml
  versionTest.yml
Due: none

Delete versionTest.yml
  versionTest.yml
Due: none

added assertions, removed dup test file, language changes
  CONTRIBUTING.md
  package-lock.json
  test/common/content/BatchResponseContent.ts
  test/node/NodeTests.md
  test/node/content/BatchResponseContent.ts
Due: npm run format:json, npm run format:md, npm run format:ts

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: npm run format:md

refactoring with error conditions and test merge
  .gitignore
  README.md
  docs/ImplicitMSALAuthenticationProvider.md
  package-lock.json
  package.json
  src/authentication/azureTokenCredentials/TokenCredentialAuthenticationProvider.ts
  src/azureCredentials.ts
  src/browser/index.ts
  test/node/authentication/TokenCredentialAuthenticationProvider.ts
  tsconfig-sub-cjs.json
  tsconfig-sub-es.json
Due: npm run format:json, npm run format:md, npm run format:ts

Adding note and karma file path
  docs/ImplicitMSALAuthenticationProvider.md
  docs/TokenCredentialAuthenticationProvider.md
  docs/content/Batching.md
  karma.conf.js
  src/content/BatchRequestContent.ts
Due: npm run format:js, npm run format:md, npm run format:ts

Creating CI github action
  .github/workflows/ci_validation.yml
Due: none

adding js sample
  .gitignore
  docs/ImplicitMSALAuthenticationProvider.md
  docs/TokenCredentialAuthenticationProvider.md
  package-lock.json
  package.json
  rollup.config.js
  samples/tokenCredentialSamples/AuthenticationCodeFlow/README.md
  samples/tokenCredentialSamples/AuthenticationCodeFlow/package-lock.json
  samples/tokenCredentialSamples/AuthenticationCodeFlow/package.json
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/index.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/README.md
  samples/tokenCredentialSamples/ClientCredentialFlow/javascript/clientSecretCredential.js
  samples/tokenCredentialSamples/ClientCredentialFlow/javascript/secrets.sample.js
  samples/tokenCredentialSamples/ClientCredentialFlow/package-lock.json
  samples/tokenCredentialSamples/ClientCredentialFlow/package.json
  samples/tokenCredentialSamples/ClientCredentialFlow/typescript/index.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/typescript/secrets.sample.ts
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

Correcting doc language errors
  .gitignore
  docs/ImplicitMSALAuthenticationProvider.md
  docs/TokenCredentialAuthenticationProvider.md
  samples/tokenCredentialSamples/AuthenticationCodeFlow/README.md
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/index.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/README.md
Due: npm run format:md, npm run format:ts

Update docs/TokenCredentialAuthenticationProvider.md
  docs/TokenCredentialAuthenticationProvider.md
Due: npm run format:md

audit fix
  package-lock.json
Due: npm run format:json

audit fix
  scripts/package-lock.json
Due: npm run format:json

Update samples/tokenCredentialSamples/ClientCredentialFlow/README.md
  samples/tokenCredentialSamples/ClientCredentialFlow/README.md
Due: npm run format:md

Re-adding peerdependency meta in package.json
  package.json
Due: npm run format:json

Removing try-catch blocks
  .eslintrc.json
  package.json
  src/middleware/ChaosHandler.ts
  test/common/core/GraphResponseHandler.ts
  test/common/tasks/LargeFileUploadTask.ts
  test/development/workload/OneNote.ts
  test/development/workload/excel.ts
  test/development/workload/groups.ts
  test/development/workload/insights.ts
  test/development/workload/open-extensions.ts
  test/development/workload/users.ts
  test/node/authentication/TokenCredentialAuthenticationProvider.ts
  test/node/content/BatchRequestContent.ts
Due: npm run format:json, npm run format:ts

update packages
  .eslintrc.json
  package-lock.json
  package.json
Due: npm run format:json

Lint samples, eslint remove comments
  .eslintignore
  .eslintrc.json
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/index.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/typescript/index.ts
  src/GraphRequest.ts
  src/middleware/HTTPMessageHandler.ts
Due: npm run format:json, npm run format:ts

Correcting test assertion, using multiline disabling
  src/middleware/options/TelemetryHandlerOptions.ts
  test/common/core/Client.ts
Due: npm run format:ts

Reenable eslint after code-block
  src/middleware/options/TelemetryHandlerOptions.ts
Due: npm run format:ts

Adding design folder
  design/large-file-upload-task-design.md
Due: npm run format:md

Adding fileobject classes
  .huskyrc
  src/tasks/FileObjects/FileUpload.ts
  src/tasks/FileObjects/StreamUpload.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/common/tasks/LargeFileUploadTask.ts
Due: npm run format:rc, npm run format:ts

making slice function async, testing stream upload
  samples/node/main.js
  samples/node/secrets.sample.json
  src/index.ts
  src/tasks/FileObjects/FileUpload.ts
  src/tasks/FileObjects/StreamUpload.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:js, npm run format:json, npm run format:ts

Adding IProgress interface, sort package.json
  package-lock.json
  package.json
  rollup.config.js
  src/browser/index.ts
  src/tasks/FileObjects/StreamUpload.ts
  src/tasks/Interfaces/IProgress.ts
  src/tasks/LargeFileUploadTask.ts
Due: npm run format:js, npm run format:json, npm run format:ts

Adding upload progress design plans
  design/large-file-upload-task-design.md
Due: npm run format:md

Adding upload result, isCancelled upload session property
  src/tasks/FileUploadUtil/UploadResult.ts
  src/tasks/LargeFileUploadTask.ts
Due: npm run format:ts

Create publishing.md
  design/publishing.md
Due: npm run format:md

Update publishing.md
  design/publishing.md
Due: npm run format:md
