Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

.lintstagedrc:

{
	"*.css": ["npm run format:css", "git add"],
	"*.html": ["npm run format:html", "git add"],
	"*.js": ["npm run format:js", "git add"],
	"*.json": ["npm run format:json", "git add"],
	"*.md": ["npm run format:md", "git add"],
	".*rc": ["npm run format:rc", "git add"],
	"*.ts": ["npm run format:ts", "git add"]
}

creating table of contents
  README.md
Due: npm run format:md

updating packages
  package-lock.json
  package.json
Due: npm run format:json

CreateClient md changes, more links in toc
  README.md
  docs/CreatingClientInstance.md
  docs/OtherAPIs.md
Due: npm run format:md

Adding additional resources
  README.md
Due: npm run format:md

Removing travis badge
  README.md
  docs/CreatingClientInstance.md
Due: npm run format:md

Apply suggestions from code review
  docs/CreatingClientInstance.md
Due: npm run format:md

replace - with :
  README.md
Due: npm run format:md

ReadMe - Adding table of contents (#416)
  README.md
  docs/CreatingClientInstance.md
  docs/OtherAPIs.md
Due: npm run format:md

Update node-fetch option
  src/IFetchOptions.ts
Due: npm run format:ts

add link in readme to cancel request doc
  README.md
  src/IFetchOptions.ts
Due: npm run format:md, npm run format:ts

Remove timeout option and update node-fetch options (#425)
  README.md
  src/IFetchOptions.ts
Due: npm run format:md, npm run format:ts

Fixing the Retry-After to be 3 seconds
  src/middleware/ChaosHandler.ts
Due: npm run format:ts

Fixing ChaosHandler with interactive scenarios
  src/middleware/ChaosHandler.ts
  test/common/core/Client.ts
  test/common/middleware/ChaosHandler.ts
Due: npm run format:ts

Fixing manual strategy and collapse ifs
  src/middleware/ChaosHandler.ts
  test/common/middleware/ChaosHandler.ts
Due: npm run format:ts

Removing unnecessary async in ChaodHandler tests
  test/common/middleware/ChaosHandler.ts
Due: npm run format:ts

Create v3-upgrade-guide.md
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

Adding confirmed changes
  design/large-file-upload-task-design.md
Due: npm run format:md

LargeFileTaskUpload- High-level design changes (#392)
  design/large-file-upload-task-design.md
Due: npm run format:md

Update src/middleware/ChaosHandler.ts
  src/middleware/ChaosHandler.ts
Due: npm run format:ts

Sebastienlevert/fix chaos handler random (#429)
  src/middleware/ChaosHandler.ts
  test/common/core/Client.ts
  test/common/middleware/ChaosHandler.ts
Due: npm run format:ts

Update v3-upgrade-guide.md
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

Added alternatives to ImplicitMsal
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

Create v3-upgrade-guide.md (#430)
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

ts update, buff.alloc, update largefle do, audit fix
  .npmignore
  docs/tasks/LargeFileUploadTask.md
  package-lock.json
  package.json
  test/common/core/GraphRequestUtil.ts
Due: npm run format:json, npm run format:md, npm run format:ts

Sync with dev, TS library update, doc correction. (#432)
  .npmignore
  docs/tasks/LargeFileUploadTask.md
  package-lock.json
  package.json
  samples/browser/package-lock.json
  scripts/package-lock.json
  test/common/core/GraphRequestUtil.ts
Due: npm run format:json, npm run format:md, npm run format:ts

Update package.json
  package.json
Due: npm run format:json

- udpates dependencies to latest to address a security issue
  samples/tokenCredentialSamples/ClientCredentialFlow/package-lock.json
  samples/tokenCredentialSamples/ClientCredentialFlow/package.json
Due: npm run format:json

updating version in package.lock and version file
  package-lock.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

removing orphan package.lock json file
  test/common/content/package-lock.json
Due: npm run format:json

modifying return type of onedrive create
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

ignoring the test folder
  lib/.npmignore
Due: none

modifying return type of onedrive create (#442)
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

ignoring the test folder (#441)
  lib/.npmignore
Due: none

changed paths, graphclienterror, slicefile deprecation
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

changed paths, graphclienterror, slicefile deprecation (#443)
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

correct broken links
  docs/CreatingClientInstance.md
Due: npm run format:md

adding reference to auth doc
  docs/CustomAuthenticationProvider.md
Due: npm run format:md

fix vulnerabilities
  package-lock.json
  package.json
Due: npm run format:json

fix vulnerabilities (#450)
  package-lock.json
  package.json
Due: npm run format:json

Adding custom hosts options
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/IClientOptions.ts
  src/IContext.ts
  src/IOptions.ts
  src/middleware/AuthenticationHandler.ts
Due: npm run format:ts
