Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

Adding unit tests
  src/GraphRequest.ts
  src/IClientOptions.ts
  src/IContext.ts
  src/IOptions.ts
  test/common/core/Client.ts
  test/common/middleware/AuthenticationHandler.ts
Due: npm run format:ts

adding custom host check in telemetry handler
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Update to comments
  src/GraphRequestUtil.ts
  src/IClientOptions.ts
  src/IContext.ts
  src/IOptions.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Function to check valid custom host
  src/GraphRequestUtil.ts
Due: npm run format:ts

Adding the ChunkRecord interface
  package.json
  src/tasks/FileUploadTask/FileObjectClasses/StreamUpload.ts
  test/node/tasks/StreamUpload.ts
Due: npm run format:json, npm run format:ts

unit test for invalid hostname
  src/GraphRequestUtil.ts
  test/common/core/Client.ts
Due: npm run format:ts

Adding more tests for stream resume
  src/tasks/FileUploadTask/FileObjectClasses/StreamUpload.ts
  test/node/tasks/StreamUpload.ts
Due: npm run format:ts

Adding `CustomHosts` options (#453)
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/IClientOptions.ts
  src/IContext.ts
  src/IOptions.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/TelemetryHandler.ts
  test/common/core/Client.ts
  test/common/middleware/AuthenticationHandler.ts
Due: npm run format:ts

comments, assert conditions change
  package.json
  src/tasks/FileUploadTask/FileObjectClasses/StreamUpload.ts
  src/tasks/LargeFileUploadTask.ts
  test/node/tasks/StreamUpload.ts
Due: npm run format:json, npm run format:ts

Fixing links
  docs/CreatingClientInstance.md
Due: npm run format:md

Update v3-upgrade-guide.md
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

Fixing broken links in documentation (#462)
  changelogs/v3-upgrade-guide.md
  docs/CreatingClientInstance.md
Due: npm run format:md

SliceRecord and comments
  src/tasks/FileUploadTask/FileObjectClasses/StreamUpload.ts
Due: npm run format:ts

Resume stream upload (#460)
  src/tasks/FileUploadTask/FileObjectClasses/StreamUpload.ts
  src/tasks/LargeFileUploadTask.ts
  test/node/tasks/StreamUpload.ts
Due: npm run format:ts

3.0.0 preview 2 package update
  package-lock.json
  package.json
  src/Version.ts
  test/development/secrets.sample.ts
Due: npm run format:json, npm run format:ts

restore file
  test/development/secrets.sample.ts
Due: npm run format:ts

Adding `customHosts` change
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

Release/3.0.0 preview.2 (#467)
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Adding `customHosts` change (#468)
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

fix docs markdown link
  docs/TokenCredentialAuthenticationProvider.md
Due: npm run format:md

adding links to samples
  README.md
Due: npm run format:md

removing duplicate links
  README.md
Due: npm run format:md

adding description for typings and removing en-us
  README.md
Due: npm run format:md

Documentation - add links to JS samples (#473)
  README.md
Due: npm run format:md

adding links of samples in docs
  README.md
  docs/TokenCredentialAuthenticationProvider.md
  docs/tasks/LargeFileUploadTask.md
  samples/javascript/SampleRequests.js
  samples/javascript/clientInitialization/ClientWithOptions.js
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/README.md
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/index.js
  samples/javascript/tasks/LargeFileUploadTask.js
  samples/javascript/tasks/OneDriveLargeFileUploadTask.js
  samples/package.json
  samples/typescript/clientInitialization/ClientWithOptions.ts
  samples/typescript/clientInitialization/tokenCredentialAuthenticationProvider/index.ts
  samples/typescript/clientInitialization/tokenCredentialAuthenticationProvider/package-lock.json
  samples/typescript/clientInitialization/tokenCredentialAuthenticationProvider/package.json
  samples/typescript/clientInitialization/tokenCredentialAuthenticationProvider/tsconfig.json
  samples/typescript/tasks/LargeFileUploadTask.ts
  samples/typescript/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

Remove the azure/identity tip for browser
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

Remove the azure/identity tip for browser (#478)
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

token credential readme change
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/README.md
Due: npm run format:md

setting version to 3.0.0
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Setting min node version to 12
  .github/workflows/ci_validation.yml
  README.md
  changelogs/v3-upgrade-guide.md
  package.json
Due: npm run format:json, npm run format:md

creating msal browser auth provider
  package-lock.json
  package.json
  src/authentication/msal/MSALAuthenticationProviderOptions.ts
  src/authentication/msal/MSALBrowserAuthenticationProvider.ts
Due: npm run format:json, npm run format:ts

unit test, msal browser options
  authProviderOptions/es/msal-browser/index.ts
  authProviderOptions/es/msal/index.ts
  authProviderOptions/msal-browser/index.ts
  docs/MSALBrowserAuthenticationProvider.md
  lib/.npmignore
  package-lock.json
  package.json
  rollup.config.js
  src/authentication/msal-browser/MSALBrowserAuthenticationProvider.ts
  src/authentication/msal/ImplicitMSALAuthenticationProvider.ts
  src/authentication/msal/MSALBrowserAuthenticationProvider.ts
  src/authentication/msalOptions/MSALAuthenticationProviderOptions.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  test/common/authentication/MSALBrowserAuthenticationProvider.ts
  test/common/middleware/AuthenticationHandlerOptions.ts
  test/common/middleware/MSALAuthenticationProviderOptions.ts
  tsconfig-sub-cjs.json
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

error handling unit test, doc updates
  docs/MSALBrowserAuthenticationProvider.md
  docs/TokenCredentialAuthenticationProvider.md
  samples/typescript/clientInitialization/tokenCredentialAuthenticationProvider/index.ts
  samples/typescript/tasks/LargeFileUploadTask.ts
  samples/typescript/tasks/OneDriveLargeFileUploadTask.ts
  src/authentication/azureTokenCredentials/TokenCredentialAuthenticationProvider.ts
  src/authentication/msal-browser/MSALBrowserAuthenticationProvider.ts
  test/common/authentication/MSALBrowserAuthenticationProvider.ts
Due: npm run format:md, npm run format:ts

adding coverage action
  .github/workflows/ci_validation.yml
  package.json
Due: npm run format:json

name of action
  .github/workflows/ci_validation.yml
Due: none

adding path
  .github/workflows/ci_validation.yml
Due: none

rename auth provider
  authProviderOptions/es/msal-browser/index.ts
  authProviderOptions/msal-browser/index.ts
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
  rollup.config.js
  src/authentication/msal-browser/AuthCodeMSALBrowserAuthenticationProvider.ts
  src/authentication/msalOptions/MSALAuthenticationProviderOptions.ts
  test/common/authentication/AuthCodeMSALBrowserAuthenticationProvider.ts
Due: npm run format:js, npm run format:md, npm run format:ts

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
