Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

Update client options, middleware options and base client in tasks (#808)
  package-lock.json
  package.json
  src/Client.ts
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/IClientOptions.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/options/IMiddlewareOptions.ts
  src/tasks/PageIterator.ts
  test/DummyHandlerOptions.ts
  test/browser/middleware/MiddlewareFactory.ts
  test/development/workload/PageIterator.ts
  test/node/middleware/MiddlewareFactory.ts
Due: npm run format:json, npm run format:ts

update isomorphic-fetch
  package-lock.json
  package.json
  spec/content/BatchRequestContent.ts
  spec/development/workload/groups.ts
  spec/package-lock.json
  spec/package.json
Due: npm run format:json, npm run format:ts

test updates
  karma.conf.js
  package-lock.json
  package.json
  spec/content/BatchRequestContent.ts
  spec/content/node/BatchRequestContent.ts
  spec/core/GraphResponseHandler.ts
  spec/core/browser/GraphResponseHandler.ts
  spec/core/node/GraphResponseHandler.ts
Due: npm run format:js, npm run format:json, npm run format:ts

update version
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

SPFx Graph v1.x node-fetch vulnerability (#852)
  karma.conf.js
  package-lock.json
  package.json
  spec/content/BatchRequestContent.ts
  spec/content/node/BatchRequestContent.ts
  spec/core/GraphResponseHandler.ts
  spec/core/browser/GraphResponseHandler.ts
  spec/core/node/GraphResponseHandler.ts
  spec/development/workload/groups.ts
  spec/package-lock.json
  spec/package.json
Due: npm run format:js, npm run format:json, npm run format:ts

update version (#853)
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

removing reference to node
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

removing reference to node (#862)
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

release/1.7.2-spfx
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

release/1.7.2-spfx (#863)
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Report last reported sync progress before returning result
  .gitignore
  src/tasks/LargeFileUploadTask.ts
  test/common/tasks/LargeFileUploadTask.ts
Due: npm run format:ts

Report last reported sync progress before returning result (#916)
  .gitignore
  src/tasks/LargeFileUploadTask.ts
  test/common/tasks/LargeFileUploadTask.ts
Due: npm run format:ts

docs: use gender neutral pronouns
  docs/CreatingClientInstance.md
  docs/CustomMiddlewareChain.md
Due: npm run format:md

docs: use gender neutral pronouns (#926)
  docs/CreatingClientInstance.md
  docs/CustomMiddlewareChain.md
Due: npm run format:md

docs: add missing import
  docs/TokenCredentialAuthenticationProvider.md
Due: npm run format:md

refactor: GetTokenOptions type
  src/authentication/azureTokenCredentials/ITokenCredentialAuthenticationProviderOptions.ts
  src/authentication/azureTokenCredentials/TokenCredentialAuthenticationProvider.ts
  test/node/authentication/TokenCredentialAuthenticationProvider.ts
Due: npm run format:ts

docs: add missing import (#939)
  docs/TokenCredentialAuthenticationProvider.md
  src/authentication/azureTokenCredentials/ITokenCredentialAuthenticationProviderOptions.ts
  src/authentication/azureTokenCredentials/TokenCredentialAuthenticationProvider.ts
  test/node/authentication/TokenCredentialAuthenticationProvider.ts
Due: npm run format:md, npm run format:ts

fix(pageIterator): stop mutating PageCollection
  package-lock.json
  src/tasks/PageIterator.ts
  test/common/tasks/PageIterator.ts
Due: npm run format:json, npm run format:ts

fix(pageIterator): stop mutating PageCollection (#961)
  package-lock.json
  src/tasks/PageIterator.ts
  test/common/tasks/PageIterator.ts
Due: npm run format:json, npm run format:ts

adding queryoptions, removing header function
  samples/javascript/clientInitialization/ClientWithOptions.js
  samples/package-lock.json
  samples/typescript/clientInitialization/ClientWithOptions.ts
  src/Client.ts
  src/GraphRequest.ts
  src/QueryOptions.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/PageIterator.ts
  test/common/core/urlGeneration.ts
Due: npm run format:js, npm run format:json, npm run format:ts

204-return sucess, delete api headers param
  samples/javascript/clientInitialization/ClientWithOptions.js
  src/GraphRequest.ts
  src/GraphResponseHandler.ts
  src/browser/index.ts
  src/index.ts
Due: npm run format:js, npm run format:ts

adding more module apis, rest preview
  applications/application/index.d.ts
  compliance/index.d.ts
  compliance/index.js
  crossDeviceExperiences/index.d.ts
  customerBooking/index.d.ts
  deviceAppManagement/index.d.ts
  extensions/index.d.ts
  files/index.d.ts
  groups/conversationThread/index.d.ts
  groups/conversationThread/index.js
  groups/conversations/index.d.ts
  groups/conversations/index.js
  groups/group/index.d.ts
  groups/group/index.js
  groups/index.d.ts
  identityAndAccess/index.d.ts
  mail/index.d.ts
  notes/index.d.ts
  package-lock.json
  package.json
  peopleWorkPlaceIntelligence/index.d.ts
  personalContacts/index.d.ts
  reports/index.d.ts
  sitesAndLists/index.d.ts
  src/GraphRequest.ts
  src/Version.ts
  src/browser/index.ts
  src/index.ts
  src/rest/testAPI.ts
  teamWorkAndCommunications/index.d.ts
  to-DoTasks/index.d.ts
  to-DoTasks/index.js
  users/index.d.ts
  workbooksAndCharts/index.d.ts
Due: npm run format:js, npm run format:json, npm run format:ts

private setheaders, delete queryoptions api
  package-lock.json
  package.json
  src/GraphRequest.ts
  test/common/core/GraphResponseHandler.ts
  test/common/core/urlGeneration.ts
  test/development/workload/OneNote.ts
  test/development/workload/PageIterator.ts
  test/development/workload/delta-query.ts
  test/development/workload/excel.ts
  test/development/workload/groups.ts
  test/development/workload/insights.ts
  test/development/workload/open-extensions.ts
  test/development/workload/testQuery.ts
  test/development/workload/users.ts
Due: npm run format:json, npm run format:ts

adding pipeline
  .github/workflows/publish.yml
Due: none

artifacts to be uploaded
  .github/workflows/publish.yml
Due: none

node version
  .github/workflows/publish.yml
Due: none

creating samples browser and node
  samples-graphRestClient/browser/my-app/.gitignore
  samples-graphRestClient/browser/my-app/README.md
  samples-graphRestClient/browser/my-app/package-lock.json
  samples-graphRestClient/browser/my-app/package.json
  samples-graphRestClient/browser/my-app/public/favicon.ico
  samples-graphRestClient/browser/my-app/public/images/no-profile-photo.png
  samples-graphRestClient/browser/my-app/public/index.html
  samples-graphRestClient/browser/my-app/public/logo192.png
  samples-graphRestClient/browser/my-app/public/logo512.png
  samples-graphRestClient/browser/my-app/public/manifest.json
  samples-graphRestClient/browser/my-app/public/robots.txt
  samples-graphRestClient/browser/my-app/src/App.css
  samples-graphRestClient/browser/my-app/src/App.test.tsx
  samples-graphRestClient/browser/my-app/src/App.tsx
  samples-graphRestClient/browser/my-app/src/AppContext.tsx
  samples-graphRestClient/browser/my-app/src/Config.ts
  samples-graphRestClient/browser/my-app/src/ErrorMessage.tsx
  samples-graphRestClient/browser/my-app/src/GraphService.ts
  samples-graphRestClient/browser/my-app/src/Groups.tsx
  samples-graphRestClient/browser/my-app/src/NavBar.tsx
  samples-graphRestClient/browser/my-app/src/Welcome.tsx
  samples-graphRestClient/browser/my-app/src/__mocks__/mockCss.js
  samples-graphRestClient/browser/my-app/src/index.css
  samples-graphRestClient/browser/my-app/src/index.tsx
  samples-graphRestClient/browser/my-app/src/logo.svg
  samples-graphRestClient/browser/my-app/src/react-app-env.d.ts
  samples-graphRestClient/browser/my-app/src/reportWebVitals.ts
  samples-graphRestClient/browser/my-app/src/setupTests.ts
  samples-graphRestClient/browser/my-app/tsconfig.json
  samples-graphRestClient/node/.gitignore
  samples-graphRestClient/node/package-lock.json
  samples-graphRestClient/node/package.json
  samples-graphRestClient/node/src/graphClient.ts
  samples-graphRestClient/node/src/groups.ts
  samples-graphRestClient/node/src/mail.ts
  samples-graphRestClient/node/src/meAndUsers.ts
  samples-graphRestClient/node/tsconfig.json
Due: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:ts

updating samples
  samples-graphRestClient/node/README.md
  samples-graphRestClient/node/package.json
  samples-graphRestClient/node/src/groups.ts
  samples-graphRestClient/node/src/mail.ts
  samples-graphRestClient/node/src/meAndUsers.ts
Due: npm run format:json, npm run format:md, npm run format:ts

change node v to 18
  .github/workflows/ci_validation.yml
Due: none

adding upload session url option in create onedrive
  package.json
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/development/workload/largeFileUpload.ts
Due: npm run format:json, npm run format:ts

test success special folder upload
  package.json
  test/development/workload/largeFileUpload.ts
Due: npm run format:json, npm run format:ts

removing optional and updating doc
  docs/tasks/LargeFileUploadTask.md
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:md, npm run format:ts

Allow custom upload session url in `OneDriveLargeFileUpload.create` (#1010)
  docs/tasks/LargeFileUploadTask.md
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/development/workload/largeFileUpload.ts
Due: npm run format:md, npm run format:ts

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

update to version 3.0.3
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

node 18 fetch readme
  README.md
Due: npm run format:md

node 18 fetch readme (#1025)
  README.md
Due: npm run format:md

Patch release version 3.0.3 (#1021)
  .github/fabricbot.json
  .github/workflows/ci_validation.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/projectbot.yml
  .gitignore
  README.md
  design/kiota-e2e.md
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
  docs/CreatingClientInstance.md
  docs/CustomMiddlewareChain.md
  docs/TokenCredentialAuthenticationProvider.md
  docs/tasks/LargeFileUploadTask.md
  package-lock.json
  package.json
  samples/package-lock.json
  src/Version.ts
  src/authentication/azureTokenCredentials/ITokenCredentialAuthenticationProviderOptions.ts
  src/authentication/azureTokenCredentials/TokenCredentialAuthenticationProvider.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  src/tasks/PageIterator.ts
  test/common/tasks/LargeFileUploadTask.ts
  test/common/tasks/PageIterator.ts
  test/development/workload/largeFileUpload.ts
  test/node/authentication/TokenCredentialAuthenticationProvider.ts
Due: npm run format:json, npm run format:md, npm run format:ts

remove trigger
  azure-pipelines.yml
Due: none

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
