Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

Update README.md
  README.md
Due: npm run format:md

Added content type to put request
  src/GraphRequest.ts
Due: npm run format:ts

Changes: * Implemented Authentication Handler Options * Implemented Authentication Provider Options
  spec/DummyAuthenticationProvider.ts
  spec/middleware/AuthenticationHandler.ts
  spec/middleware/AuthenticationHandlerOptions.ts
  spec/middleware/MSALAuthenticationProviderOptions.ts
  src/IAuthenticationProvider.ts
  src/IAuthenticationProviderOptions.ts
  src/MSALAuthenticationProvider.ts
  src/MSALAuthenticationProviderOptions.ts
  src/browser/MSALAuthenticationProvider.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/options/AuthenticationHandlerOptions.ts
  src/middleware/options/RetryHandlerOptions.ts
Due: npm run format:ts

Changes: * Added exports for handlers and their optoins * Fixed authentication handler options related bug
  src/browser/index.ts
  src/index.ts
  src/middleware/AuthenticationHandler.ts
Due: npm run format:ts

Changes: * Added test for validating consistency between package version in package.json and constants.js * Added tasks test in lauch.json * Updated dependency packages to latest version
  .vscode/launch.json
  package-lock.json
  package.json
  spec/core/Constants.ts
  spec/development/workload/OneNote.ts
  spec/package-lock.json
  spec/package.json
  spec/tsconfig.json
  tsconfig.json
Due: npm run format:json, npm run format:ts

Updated node environments for travis
  .travis.yml
Due: none

Updating nodejs env for traivis CI
  .travis.yml
Due: none

Update CustomAuthenticationProvider.md
  docs/CustomAuthenticationProvider.md
Due: npm run format:md

Correct syntax error in example in readme.md
  README.md
Due: npm run format:md

Syntaxt fix on clientId
  README.md
Due: npm run format:md

Changes: * Added RedirectHander * Added RedirectHandlerOptions
  src/HTTPClientFactory.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/HTTPMessageHandler.ts
  src/middleware/MiddlewareUtil.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/options/RedirectHandlerOptions.ts
  src/middleware/options/RetryHandlerOptions.ts
Due: npm run format:ts

Changes: * Added UT's for RedirectHandler * Added UT's for RedirectHandlerOptions * Added more UT's for RetryHandler
  spec/DummyHTTPMessageHandler.ts
  spec/middleware/MiddlewareUtil.ts
  spec/middleware/RedirectHandler.ts
  spec/middleware/RedirectHandlerOptions.ts
  spec/middleware/RetryHandler.ts
  src/middleware/MiddlewareUtil.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/options/RedirectHandlerOptions.ts
Due: npm run format:ts

Modified Validation of node environment
  src/HTTPClientFactory.ts
Due: npm run format:ts

Update pull_request_template.md
  .github/pull_request_template.md
Due: npm run format:md

Bumped up the version for release
  package-lock.json
  package.json
  spec/package-lock.json
  spec/package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Bump version
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Fix for lib folder missing in npm package
  package-lock.json
  package.json
  spec/core/Constants.ts
  tsconfig.json
Due: npm run format:json, npm run format:ts

Adding new version in constants.ts
  src/Constants.ts
Due: npm run format:ts

Make MSALAuthenticationProvider.userAgentApplication public
  src/MSALAuthenticationProvider.ts
  src/browser/MSALAuthenticationProvider.ts
Due: npm run format:ts

Set theme jekyll-theme-cayman
  _config.yml
Due: none

Added initializing MSALAuthProvider with userAgentApplication
  README.md
  package-lock.json
  samples/browser/src/main.js
  src/MSALAuthenticationProvider.ts
  src/browser/MSALAuthenticationProvider.ts
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

Update Readme
  README.md
Due: npm run format:md

Update Readme with comments
  README.md
Due: npm run format:md

Fixed Bug : https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/156
  samples/browser/src/request.js
  spec/core/GraphResponseHandler.ts
  src/GraphResponseHandler.ts
Due: npm run format:js, npm run format:ts

Fixes Bug: https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/153
  samples/browser/src/index.html
  samples/browser/src/main.js
Due: npm run format:html, npm run format:js

Adding azurepipeline scripts
  .npmignore
  scripts/package-lock.json
  scripts/package.json
  scripts/src/AddGithubUser.ps1
  scripts/src/CalculateNewPreviewVersion.ps1
  scripts/src/CalculateNewProductionVersion.ps1
  scripts/src/CommitAndPushChangesToGithub.ps1
  scripts/src/GetLatestCommitSHA.ps1
  scripts/src/GetPackageVersion.ps1
  scripts/src/HasNewCommitsAfterLastProductionRelease.ps1
  scripts/src/HasNewCommitsAfterLastRelease.ps1
  scripts/src/MergeChangesTillLastestRelease.ps1
  scripts/src/MergeVersionChangesBackToPreviewBranch.ps1
  scripts/src/RemoveGithubUser.ps1
  scripts/src/gulpfile.js
Due: npm run format:js, npm run format:json

Added calling pattern doc
  README.md
  docs/CallingPattern.md
Due: npm run format:md

Adding es folder and es output js file
  .gitignore
  browser-wrapper-es.js
  browserify-es.js
  package.json
  tsconfig-es.json
Due: npm run format:js, npm run format:json

Added create upload session for large file upload in base class
  spec/tasks/LargeFileUploadTask.ts
  spec/tasks/OneDriveLargeFileUploadTask.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Added largefile upload task to export in index.ts
  src/browser/index.ts
  src/index.ts
Due: npm run format:ts

Comment typo fix
  src/index.ts
Due: npm run format:ts

Updated docs for large fil upload task
  docs/tasks/LargeFileUploadTask.md
Due: npm run format:md

typo fix
  docs/tasks/LargeFileUploadTask.md
Due: npm run format:md

Updated samples in large file upload task doc
  docs/tasks/LargeFileUploadTask.md
Due: npm run format:md

Added custom options sample for large file upload
  docs/tasks/LargeFileUploadTask.md
  src/tasks/LargeFileUploadTask.ts
Due: npm run format:md, npm run format:ts

Changes: * Fixed commonjs generation instead of es modules * Added rollup to generated es module output js file * Updated dependency packges to fix security issues
  browser-wrapper-dependency.js
  browser-wrapper-es.js
  browserify-es.js
  package-lock.json
  package.json
  rollup.config.js
  spec/core/Client.ts
  spec/development/test-helper.ts
  spec/package-lock.json
  spec/test-helper.ts
  spec/tsconfig.json
  src/PolyFill.ts
  src/index.ts
  tsconfig-base.json
  tsconfig-cjs.json
  tsconfig-es.json
Due: npm run format:js, npm run format:json, npm run format:ts

removed unwanted entry from rollup config
  rollup.config.js
Due: npm run format:js

Adding scripts folder to prettier ignore
  .prettierignore
  scripts/src/gulpfile.js
Due: npm run format:js

Bumped version to '1.6.0-Preview.1'
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Bumped version to '1.6.0-Preview.2'
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
