Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

Removing implicitmsal
  authProviderOptions/es/msal/index.ts
  authProviderOptions/msal/index.ts
  docs/CreatingClientInstance.md
  docs/ImplicitMSALAuthenticationProvider.md
  package.json
  rollup.config.js
  src/authentication/msal/ImplicitMSALAuthenticationProvider.ts
  src/authentication/msal/MSALAuthenticationProviderOptions.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  src/browser/rollupEntry.ts
  test/common/middleware/AuthenticationHandlerOptions.ts
  test/common/middleware/MSALAuthenticationProviderOptions.ts
  tsconfig-sub-cjs.json
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

doc and folder name update
  authProviderOptions/authCodeMsalBrowser/index.ts
  authProviderOptions/es/authCodeMsalBrowser/index.ts
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
  docs/CreatingClientInstance.md
  src/authentication/msal-browser/AuthCodeMSALBrowserAuthenticationProvider.ts
  tsconfig-sub-cjs.json
Due: npm run format:json, npm run format:md, npm run format:ts

throw error, msal cdn reference
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
  src/authentication/msal-browser/AuthCodeMSALBrowserAuthenticationProvider.ts
Due: npm run format:md, npm run format:ts

update min node requirement
  .github/workflows/ci_validation.yml
  README.md
  changelogs/v3-upgrade-guide.md
  package.json
Due: npm run format:json, npm run format:md

update min node requirement (#486)
  .github/workflows/ci_validation.yml
  README.md
  changelogs/v3-upgrade-guide.md
  package.json
Due: npm run format:json, npm run format:md

MsalBrowserAuthenticationProvider (#484)
  authProviderOptions/authCodeMsalBrowser/index.ts
  authProviderOptions/es/authCodeMsalBrowser/index.ts
  authProviderOptions/es/msal/index.ts
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
  docs/CreatingClientInstance.md
  docs/TokenCredentialAuthenticationProvider.md
  lib/.npmignore
  package-lock.json
  package.json
  rollup.config.js
  samples/typescript/clientInitialization/tokenCredentialAuthenticationProvider/index.ts
  samples/typescript/tasks/LargeFileUploadTask.ts
  samples/typescript/tasks/OneDriveLargeFileUploadTask.ts
  src/authentication/azureTokenCredentials/TokenCredentialAuthenticationProvider.ts
  src/authentication/msal-browser/AuthCodeMSALBrowserAuthenticationProvider.ts
  src/authentication/msal/ImplicitMSALAuthenticationProvider.ts
  src/authentication/msalOptions/MSALAuthenticationProviderOptions.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  test/common/authentication/AuthCodeMSALBrowserAuthenticationProvider.ts
  test/common/middleware/AuthenticationHandlerOptions.ts
  test/common/middleware/MSALAuthenticationProviderOptions.ts
  tsconfig-sub-cjs.json
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

Removing implicitmsal (#485)
  authProviderOptions/es/msal/index.ts
  authProviderOptions/msal/index.ts
  docs/ImplicitMSALAuthenticationProvider.md
  lib/.npmignore
  package.json
  rollup.config.js
  src/authentication/msal/ImplicitMSALAuthenticationProvider.ts
  src/authentication/msalOptions/MSALAuthenticationProviderOptions.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  src/browser/rollupEntry.ts
  test/common/middleware/AuthenticationHandlerOptions.ts
  test/common/middleware/MSALAuthenticationProviderOptions.ts
  tsconfig-sub-cjs.json
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

3.0.0-preview-3 release
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

msal updates
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

3.0.0-preview-3 release (#488)
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

V3 upgrade guide- MSAL related updates (#489)
  changelogs/v3-upgrade-guide.md
Due: npm run format:md

Update to 3.0.0
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Fix wrong buffer size calculation.
  samples/package-lock.json
  samples/tsconfig.json
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/common/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:json, npm run format:ts

Fix wrong buffer size calculation. (#494)
  samples/package-lock.json
  samples/tsconfig.json
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/common/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:json, npm run format:ts

Set Content-Type explicitly in LargeFileUploadTask.
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Set Content-Type explicitly in LargeFileUploadTask. (#502)
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Fix samples and typos.
  design/publishing.md
  docs/ChaosHandlerSamples.md
  docs/CustomMiddlewareChain.md
  docs/tasks/LargeFileUploadTask.md
  samples/javascript/tasks/LargeFileUploadTask.js
  samples/javascript/tasks/OneDriveLargeFileUploadTask.js
  samples/typescript/tasks/LargeFileUploadTask.ts
  samples/typescript/tasks/OneDriveLargeFileUploadTask.ts
  src/GraphClientError.ts
  src/GraphError.ts
  src/GraphRequestUtil.ts
  src/HTTPClient.ts
  src/HTTPClientFactory.ts
  src/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
Due: npm run format:js, npm run format:md, npm run format:ts

Fix samples and typos. (#508)
  design/publishing.md
  docs/ChaosHandlerSamples.md
  docs/CustomMiddlewareChain.md
  docs/tasks/LargeFileUploadTask.md
  samples/javascript/tasks/LargeFileUploadTask.js
  samples/javascript/tasks/OneDriveLargeFileUploadTask.js
  samples/typescript/tasks/LargeFileUploadTask.ts
  samples/typescript/tasks/OneDriveLargeFileUploadTask.ts
  src/GraphClientError.ts
  src/GraphError.ts
  src/GraphRequestUtil.ts
  src/HTTPClient.ts
  src/HTTPClientFactory.ts
  src/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
Due: npm run format:js, npm run format:md, npm run format:ts

correcting file upload errror text, large file readme
  docs/tasks/LargeFileUploadTask.md
  src/tasks/FileUploadTask/FileObjectClasses/FileUpload.ts
Due: npm run format:md, npm run format:ts

correcting file upload errror text, large file readme (#512)
  docs/tasks/LargeFileUploadTask.md
  src/tasks/FileUploadTask/FileObjectClasses/FileUpload.ts
Due: npm run format:md, npm run format:ts

graph-kiota design doc
  design/graph-kiota.md
Due: npm run format:md

Rename RedirectHandlerOptions variables to match purpose
  src/middleware/options/RedirectHandlerOptions.ts
  test/common/middleware/RedirectHandlerOptions.ts
Due: npm run format:ts

Rename RedirectHandlerOptions variables to match purpose (#515)
  src/middleware/options/RedirectHandlerOptions.ts
  test/common/middleware/RedirectHandlerOptions.ts
Due: npm run format:ts

fix(samples): added secrets file and updated documentation
  .gitignore
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/README.md
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/index.js
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/secrets.js
Due: npm run format:js, npm run format:md

fix(samples): added secrets file and updated documentation (#517)
  .gitignore
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/README.md
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/index.js
  samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/secrets.js
Due: npm run format:js, npm run format:md

adding missing await
  docs/tasks/PageIterator.md
Due: npm run format:md

adding missing await (#526)
  docs/tasks/PageIterator.md
Due: npm run format:md

using named exports
  src/browser/index.ts
  src/index.ts
Due: npm run format:ts

using named exports (#527)
  src/browser/index.ts
  src/index.ts
Due: npm run format:ts

Export BatchResponseBody interface type
  src/content/BatchResponseContent.ts
Due: npm run format:ts

upgrade to 3.0.1
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Export BatchResponseBody from index.ts and browser/index.ts
  src/browser/index.ts
  src/index.ts
Due: npm run format:ts

Export BatchResponseBody interface type (#531)
  src/browser/index.ts
  src/content/BatchResponseContent.ts
  src/index.ts
Due: npm run format:ts

Support 'file description' in LargeFileUploadTask.
  samples/typescript/tasks/OneDriveLargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Support 'file description' in LargeFileUploadTask. (#533)
  samples/typescript/tasks/OneDriveLargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

telemetry updates
  .huskyrc
  package-lock.json
  package.json
  src/Client.ts
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/HTTPClient.ts
  src/HTTPClientFactory.ts
  src/IContext.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/HTTPMessageHandler.ts
  src/middleware/IMiddleware.ts
  src/middleware/MiddlewareFactory.ts
  src/middleware/MiddlewareUtil.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
  src/middleware/TelemetryUtil.ts
  src/middleware/options/IMiddlewareOptions.ts
  src/middleware/options/RedirectHandlerOptions.ts
  src/middleware/options/RetryHandlerOptions.ts
  src/middleware/options/TelemetryHandlerOptions.ts
Due: npm run format:json, npm run format:rc, npm run format:ts

Create dependabot.yml
  .github/dependabot.yml
Due: none

Create dependabot.yml (#538)
  .github/dependabot.yml
Due: none

moving auth
  package-lock.json
  package.json
  src/GraphRequest.ts
  src/authentication/msal-browser/AuthCodeMSALBrowserAuthenticationProvider.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/GraphBaseBearerAuthenticationProvider.ts
  src/middleware/MiddlewareControl.ts
Due: npm run format:json, npm run format:ts

updating colors version package lock
  package-lock.json
  scripts/package-lock.json
  test/common/authentication/AuthCodeMSALBrowserAuthenticationProvider.ts
Due: npm run format:json, npm run format:ts

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
