Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

chore: update branch protection rules (#1425)
  .github/policies/msgraph-sdk-javascript-branch-protection.yml
  .github/workflows/ci_validation.yml
Due: none

set version to 3.0.7
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

strip away version from batch request url
  src/content/BatchRequestContent.ts
Due: npm run format:ts

set url to stripped path
  src/content/BatchRequestContent.ts
Due: npm run format:ts

test a batch request with full url
  test/common/content/BatchRequestContent.ts
Due: npm run format:ts

replace host stripping block with regex based replace
  src/content/BatchRequestContent.ts
Due: npm run format:ts

- updates related eslint dependencies to unblock PR
  package-lock.json
  package.json
Due: npm run format:json

set url to stripped path
  src/content/BatchRequestContent.ts
  test/common/content/BatchRequestContent.ts
Due: npm run format:ts

- code linting
  src/content/BatchRequestContent.ts
Due: npm run format:ts

- fixes unit test for Url replacement in graph batch
  test/common/content/BatchRequestContent.ts
Due: npm run format:ts

Fix polyfill capitalilzation
  src/Client.ts
  src/ValidatePolyFilling.ts
Due: npm run format:ts

Fix polyfill error grammar
  src/ValidatePolyFilling.ts
Due: npm run format:ts

increase default retry delay
  src/middleware/options/RetryHandlerOptions.ts
  test/common/middleware/RetryHandlerOptions.ts
Due: npm run format:ts

remove references to master to prepare branch for deletion
  .github/policies/msgraph-sdk-javascript-branch-protection.yml
  .github/workflows/codeql-analysis.yml
  CONTRIBUTING.md
  README-Localized/README-es-es.md
  README-Localized/README-fr-fr.md
  README-Localized/README-ja-jp.md
  README-Localized/README-pt-br.md
  README-Localized/README-ru-ru.md
  README-Localized/README-zh-cn.md
  README.md
  design/large-file-upload-task-design.md
  docs/CreatingClientInstance.md
  docs/TokenCredentialAuthenticationProvider.md
  scripts/src/MergeChangesTillLastestRelease.ps1
  src/authentication/azureTokenCredentials/TokenCredentialAuthenticationProvider.ts
  src/content/BatchRequestContent.ts
Due: npm run format:md, npm run format:ts

- tsconfig-test-development.json - added isolatedModules: true - fixed all errors result the isolated modules - moved types and data reexports to separate exports
  src/authentication/azureTokenCredentials/index.ts
  src/browser/index.ts
  src/index.ts
  test/development/HardCodedAuthenticationProvider.ts
  test/tsconfig-test-development.json
Due: npm run format:json, npm run format:ts

- updates code of conduct to the latest standard
  CODE_OF_CONDUCT.md
Due: npm run format:md

chore: removes unused script
  scripts/package-lock.json
  scripts/package.json
  scripts/src/gulpfile.js
Due: npm run format:js, npm run format:json

Update needs-author-feedback label to replacement
  .github/policies/resourceManagement.yml
Due: none

Update needs-author-feedback label to replacement (#1698)
  .github/policies/resourceManagement.yml
Due: none

Add project auto add workflow
  .github/workflows/project-auto-add.yml
Due: none

Add project auto add workflow (#1699)
  .github/workflows/project-auto-add.yml
Due: none

chore: replaces project bot token task by official one
  .github/workflows/project-auto-add.yml
Due: none

remove label waiting for author feedback if issue closes
  .github/policies/resourceManagement.yml
Due: none

Chore: Add issue templates
  .github/ISSUE_TEMPLATE/01-sdk-bug.yml
  .github/ISSUE_TEMPLATE/02-sdk-feature-request.yml
  .github/ISSUE_TEMPLATE/03-blank-issue.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: npm run format:md

remove label waiting for author feedback if issue closes (#1715)
  .github/policies/resourceManagement.yml
Due: none

Chore: Add issue templates (#1718)
  .github/ISSUE_TEMPLATE/01-sdk-bug.yml
  .github/ISSUE_TEMPLATE/02-sdk-feature-request.yml
  .github/ISSUE_TEMPLATE/03-blank-issue.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: npm run format:md

chore: update link in docs
  docs/OtherAPIs.md
Due: npm run format:md

Middlewarechain setNext() required & nextMiddleware optional
  docs/CustomMiddlewareChain.md
  src/middleware/AuthenticationHandler.ts
  src/middleware/ChaosHandler.ts
  src/middleware/HTTPMessageHandler.ts
  src/middleware/IMiddleware.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
  test/DummyHTTPMessageHandler.ts
Due: npm run format:md, npm run format:ts

Use getDefaultMiddlewareChain instead of duplication
  src/HTTPClientFactory.ts
Due: npm run format:ts

Add extra headers to upload PUTs through upload task options
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

ci: dependabot groups to reduce the number of pull requests
  .github/dependabot.yml
Due: none

nextMiddleware may be undefined
  docs/CustomMiddlewareChain.md
Due: npm run format:md

Update OtherAPIs.md to fix links
  docs/OtherAPIs.md
Due: npm run format:md

Update index.ts
  src/authentication/azureTokenCredentials/index.ts
Due: npm run format:ts

Update index.ts (#1896)
  src/authentication/azureTokenCredentials/index.ts
Due: npm run format:ts

Add Datadog Synthetic tests workflow
  .github/workflows/datadog-synthetics.yml
Due: none

Create SECURITY.md for security policy
  SECURITY.md
Due: npm run format:md

fix: enhance URL validation to prevent host-confusion attacks
  src/GraphRequestUtil.ts
  test/common/core/GraphRequestUtil.ts
Due: npm run format:ts

fix: update URL parsing to reject userinfo and prevent host-confusion attacks
  package.json
  src/GraphRequest.ts
  test/common/core/urlParsing.ts
Due: npm run format:json, npm run format:ts

fix: prevent token leak via URL userinfo host confusion (#2000)
  package.json
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  test/common/core/GraphRequestUtil.ts
  test/common/core/urlParsing.ts
Due: npm run format:json, npm run format:ts

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
