Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

.lintstagedrc:

{
	"*.css": ["npm run format:css", "git add"],
	"*.html": ["npm run format:html", "git add"],
	"*.js": ["npm run format:js", "git add"],
	"*.json": ["npm run format:json", "git add"],
	"*.md": ["npm run format:md", "git add"],
	".*rc": ["npm run format:rc", "git add"],
	"*.ts": ["npm run format:ts", "git add"]
}

AuthHandler check for graph url, createUploadResult static function
  .huskyrc
  samples/node/main.js
  samples/node/package-lock.json
  samples/node/package.json
  samples/node/secrets.sample.json
  src/middleware/AuthenticationHandler.ts
  src/tasks/FileUploadUtil/UploadResult.ts
  src/tasks/LargeFileUploadTask.ts
Due: npm run format:js, npm run format:json, npm run format:rc, npm run format:ts

conflict behaviour param, onedrivetask with file object instance
  package-lock.json
  package.json
  samples/node/main.js
  src/index.ts
  src/tasks/FileObjects/FileUpload.ts
  src/tasks/FileUploadUtil/FileObjectClasses/FileUpload.ts
  src/tasks/FileUploadUtil/FileObjectClasses/StreamUpload.ts
  src/tasks/FileUploadUtil/Interfaces/IProgress.ts
  src/tasks/Interfaces/IProgress.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:js, npm run format:json, npm run format:ts

Adding unit test, linting
  .huskyrc
  package.json
  samples/node/main.js
  samples/node/package.json
  src/middleware/AuthenticationHandler.ts
  src/tasks/FileUploadUtil/UploadResult.ts
  src/tasks/LargeFileUploadTask.ts
  test/common/tasks/LargeFileUploadTask.ts
Due: npm run format:js, npm run format:json, npm run format:rc, npm run format:ts

Update publishing.md
  design/publishing.md
Due: npm run format:md

resetting files
  package.json
  samples/node/package-lock.json
  samples/node/secrets.sample.json
Due: npm run format:json

cancel task doc, conditions update
  docs/tasks/LargeFileUploadTask.md
  src/middleware/AuthenticationHandler.ts
Due: npm run format:md, npm run format:ts

Format errors
  design/publishing.md
Due: npm run format:md

Correcting param case
  src/tasks/FileUploadUtil/UploadResult.ts
Due: npm run format:ts

Apply suggestions from code review
  src/tasks/FileUploadUtil/UploadResult.ts
Due: npm run format:ts

Test update with fileobj, slice range value
  package.json
  src/browser/index.ts
  src/tasks/FileUploadUtil/FileObjectClasses/FileUpload.ts
  src/tasks/LargeFileUploadTask.ts
  test/common/tasks/LargeFileUploadTask.ts
Due: npm run format:json, npm run format:ts

adding stream upload test
  karma.conf.js
  package.json
  samples/node/main.js
  src/tasks/FileUploadUtil/FileObjectClasses/FileUpload.ts
  src/tasks/FileUploadUtil/FileObjectClasses/StreamUpload.ts
  src/tasks/FileUploadUtil/Interfaces/IProgress.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/browser/tasks/StreamUpload.ts
  test/common/tasks/LargeFileUploadTask.ts
  test/node/tasks/StreamUpload.ts
Due: npm run format:js, npm run format:json, npm run format:ts

Adding progresshandler complete failed unit tests
  package-lock.json
  package.json
  rollup.config.js
  src/tasks/FileUploadUtil/Interfaces/IProgress.ts
  src/tasks/LargeFileUploadTask.ts
  test/browser/tasks/StreamUpload.ts
  test/common/tasks/LargeFileUploadTask.ts
  test/common/tasks/StreamUpload.ts
  test/node/tasks/StreamUpload.ts
Due: npm run format:js, npm run format:json, npm run format:ts

Updating documentation, largefiletask dev test
  docs/tasks/LargeFileUploadTask.md
  karma.conf.js
  src/index.ts
  src/tasks/FileUploadUtil/FileObjectClasses/FileUpload.ts
  src/tasks/FileUploadUtil/FileObjectClasses/StreamUpload.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/development/secrets.sample.ts
  test/development/workload/largeFileUpload.ts
Due: npm run format:js, npm run format:md, npm run format:ts

more docs, little clean up, restore file
  .huskyrc
  karma.conf.js
  package.json
  rollup.config.js
  samples/node/main.js
  samples/node/secrets.sample.json
  src/tasks/FileUploadUtil/FileObjectClasses/StreamUpload.ts
  src/tasks/FileUploadUtil/Interfaces/IProgress.ts
  src/tasks/LargeFileUploadTask.ts
  test/common/tasks/LargeFileUploadTask.ts
  test/common/tasks/StreamUpload.ts
  test/development/secrets.sample.ts
Due: npm run format:js, npm run format:json, npm run format:rc, npm run format:ts

package.json sorting
  docs/tasks/LargeFileUploadTask.md
  package.json
  test/common/tasks/StreamUpload.ts
Due: npm run format:json, npm run format:md, npm run format:ts

readme correction
  docs/tasks/LargeFileUploadTask.md
Due: npm run format:md

rollup new entry point, token cred auth provider, deprecate implicitmsal
  docs/TokenCredentialAuthenticationProvider.md
  package-lock.json
  package.json
  rollup.config.js
  src/authentication/msal/ImplicitMSALAuthenticationProvider.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  src/browser/index.ts
  src/browser/rollupEntry.ts
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

browser index.js;minor doc change
  docs/TokenCredentialAuthenticationProvider.md
  src/browser/rollupEntry.ts
Due: npm run format:md, npm run format:ts

Update docs/TokenCredentialAuthenticationProvider.md
  docs/TokenCredentialAuthenticationProvider.md
Due: npm run format:md

Change ProgressHandler name, introducing generics, const usage
  package-lock.json
  src/index.ts
  src/tasks/FileUploadUtil/FileObjectClasses/FileUpload.ts
  src/tasks/FileUploadUtil/FileObjectClasses/StreamUpload.ts
  src/tasks/FileUploadUtil/Interfaces/IUploadEventHandlers.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/common/tasks/LargeFileUploadTask.ts
  test/node/tasks/StreamUpload.ts
Due: npm run format:json, npm run format:ts

Folder naming and rearrangement
  src/browser/index.ts
  src/index.ts
  src/tasks/FileUploadTask/FileObjectClasses/FileUpload.ts
  src/tasks/FileUploadTask/FileObjectClasses/StreamUpload.ts
  src/tasks/FileUploadTask/Interfaces/IUploadEventHandlers.ts
  src/tasks/FileUploadTask/Range.ts
  src/tasks/FileUploadTask/UploadResult.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/common/core/Range.ts
  test/common/tasks/LargeFileUploadTask.ts
  test/common/tasks/StreamUpload.ts
  test/node/tasks/StreamUpload.ts
Due: npm run format:ts

Update doc note
  docs/tasks/LargeFileUploadTask.md
Due: npm run format:md

resetting publishing doc, publishing index
  src/browser/index.ts
  src/index.ts
Due: npm run format:ts

workload test update
  src/tasks/LargeFileUploadTask.ts
  test/development/workload/largeFileUpload.ts
Due: npm run format:ts

Defend null in create onedrive, return types
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Propose getDelta function on GraphRequest
  src/GraphRequest.ts
Due: npm run format:ts

Refit getDelta as a member function
  src/GraphRequest.ts
Due: npm run format:ts

Fix DeltaREsponse type
  src/GraphRequest.ts
Due: npm run format:ts

LargeFileUpload - node js stream support and progress handling, rollup library updates (#401)
  design/publishing.md
  docs/TokenCredentialAuthenticationProvider.md
  docs/tasks/LargeFileUploadTask.md
  package-lock.json
  package.json
  rollup.config.js
  src/browser/index.ts
  src/index.ts
  src/tasks/FileUploadTask/FileObjectClasses/FileUpload.ts
  src/tasks/FileUploadTask/FileObjectClasses/StreamUpload.ts
  src/tasks/FileUploadTask/Interfaces/IUploadEventHandlers.ts
  src/tasks/FileUploadTask/Range.ts
  src/tasks/FileUploadTask/UploadResult.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  test/common/core/Range.ts
  test/common/tasks/LargeFileUploadTask.ts
  test/common/tasks/StreamUpload.ts
  test/development/workload/largeFileUpload.ts
  test/node/tasks/StreamUpload.ts
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

Adding cancelrequest doc
  docs/CancellingAHTTPRequest.md
Due: npm run format:md

Adding cancelrequest doc (#409)
  docs/CancellingAHTTPRequest.md
Due: npm run format:md

adding canary graph in constants
  src/Constants.ts
  test/common/core/urlParsing.ts
Due: npm run format:ts

Update ci_validation.yml
  .github/workflows/ci_validation.yml
Due: none

add node supported version in readme
  README.md
Due: npm run format:md

package.json node engine
  .github/workflows/ci_validation.yml
  package.json
Due: npm run format:json

adding coverage action
  .github/workflows/ci_validation.yml
  package.json
Due: npm run format:json

name of action
  .github/workflows/ci_validation.yml
Due: none

Document supported Node.js version (#414)
  .github/workflows/ci_validation.yml
  README.md
  package.json
Due: npm run format:json, npm run format:md

adding canary graph in constants (#413)
  src/Constants.ts
  test/common/core/urlParsing.ts
Due: npm run format:ts
