Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

.lintstagedrc:

{
	"*.css": ["npm run format:css", "git add"],
	"*.html": ["npm run format:html", "git add"],
	"*.js": ["npm run format:js", "git add"],
	"*.json": ["npm run format:json", "git add"],
	"*.md": ["npm run format:md", "git add"],
	".*rc": ["npm run format:rc", "git add"],
	"*.ts": ["npm run format:ts", "git add"]
}

Adding missing exports (#348)
  src/index.ts
Due: npm run format:ts

Adding istanbul for code coverage
  .gitignore
  package-lock.json
  package.json
  spec/package-lock.json
  spec/package.json
  tsconfig-base.json
Due: npm run format:json

Unit testing empty access token
  spec/core/Client.ts
  src/CustomAuthenticationProvider.ts
  src/GraphErrorHandler.ts
Due: npm run format:ts

Adding a comment
  src/GraphErrorHandler.ts
Due: npm run format:ts

Remove Graph headers for non graph urls
  spec/middleware/TelemetryHandler.ts
  src/GraphRequestUtil.ts
  src/middleware/RedirectHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

removing telemetry information if non graph url
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Adding comments
  spec/core/urlParsing.ts
  src/GraphRequestUtil.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

iterable set constructor
  src/GraphRequestUtil.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

remove try catch, remove check before deletion
  spec/middleware/TelemetryHandler.ts
  src/Constants.ts
  src/GraphRequestUtil.ts
  src/middleware/RedirectHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Adding/Deleting authorization and telemetry headers (#351)
  spec/core/urlParsing.ts
  spec/middleware/TelemetryHandler.ts
  src/Constants.ts
  src/GraphRequestUtil.ts
  src/middleware/RedirectHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Adding GraphClientError Class
  src/CustomAuthenticationProvider.ts
  src/GraphClientError.ts
  src/GraphRequest.ts
Due: npm run format:ts

Adding GraphClientError Class
  src/GraphClientError.ts
  src/GraphRequest.ts
Due: npm run format:ts

Adding client secret cred flow
  samples/authprovider/src/AuthenticationCodeSample.js.map
  samples/node/main.js
  samples/tokenCredentialSamples/AuthenticationCodeFlow/package-lock.json
  samples/tokenCredentialSamples/AuthenticationCodeFlow/package.json
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/AuthenticationCodeSample.js
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/AuthenticationCodeSample.js.map
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/AuthenticationCodeSample.ts
  samples/tokenCredentialSamples/AuthenticationCodeFlow/tsconfig.json
  samples/tokenCredentialSamples/ClientCredentialFlow/index.js
  samples/tokenCredentialSamples/ClientCredentialFlow/index.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/package-lock.json
  samples/tokenCredentialSamples/ClientCredentialFlow/package.json
  samples/tokenCredentialSamples/ClientCredentialFlow/tsconfig.json
  src/GraphRequest.ts
  src/authentication/TokenCredentialAuthenticationProvider.ts
Due: npm run format:js, npm run format:json, npm run format:ts

Adding unit tests for graph client error class
  spec/core/Client.ts
  spec/core/GraphClientError.ts
  src/CustomAuthenticationProvider.ts
  src/GraphClientError.ts
  src/GraphErrorHandler.ts
Due: npm run format:ts

Correcting file name and changing the rawresponse condition check
  spec/core/GraphClientError.ts
  src/GraphRequest.ts
Due: npm run format:ts

Preview release/2.2.0 preview.1 (#356)
  package-lock.json
  package.json
  spec/core/GraphErrorHandler.ts
  src/GraphError.ts
  src/Version.ts
Due: npm run format:json, npm run format:ts

Checking if the request object url is a graph url
  spec/middleware/TelemetryHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

removing ununsed const
  spec/middleware/TelemetryHandler.ts
Due: npm run format:ts

Update src/middleware/TelemetryHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Checking if the request object url is a graph url (#357)
  spec/middleware/TelemetryHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Adding unit tests
  package-lock.json
  samples/node/main.js
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/Secret.sample.ts
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/Secrets.ts
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/index.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/src/Secret.Sample.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/src/Secrets.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/src/index.ts
  spec/authentication/TokenCredentialAuthenticationProvider.ts
  src/authentication/TokenCredentialAuthenticationProvider.ts
Due: npm run format:js, npm run format:json, npm run format:ts

package json change
  package-lock.json
  package.json
  spec/authentication/TokenCredentialAuthenticationProvider.ts
  spec/package.json
  src/authentication/TokenCredentialAuthenticationProvider.ts
Due: npm run format:json, npm run format:ts

Adding readme docs
  .gitignore
  .vscode/launch.json
  CONTRIBUTING.md
  README.md
  docs/ImplicitMSALAuthenticationProvider.md
  docs/TokenCredentialAuthenticationProvider.md
  package-lock.json
  samples/tokenCredentialSamples/AuthenticationCodeFlow/README.md
  samples/tokenCredentialSamples/AuthenticationCodeFlow/package-lock.json
  samples/tokenCredentialSamples/AuthenticationCodeFlow/package.json
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/AuthenticationCodeSample.js
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/AuthenticationCodeSample.js.map
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/AuthenticationCodeSample.ts
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/index.ts
  samples/tokenCredentialSamples/AuthenticationCodeFlow/src/secrets.sample.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/README.md
  samples/tokenCredentialSamples/ClientCredentialFlow/index.js
  samples/tokenCredentialSamples/ClientCredentialFlow/index.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/package-lock.json
  samples/tokenCredentialSamples/ClientCredentialFlow/package.json
  samples/tokenCredentialSamples/ClientCredentialFlow/src/index.ts
  samples/tokenCredentialSamples/ClientCredentialFlow/src/secrets.sample.ts
  spec/development/workload/excel.ts
  spec/middleware/ChaosHandler.ts
  spec/middleware/MiddlewareUtil.ts
  src/authentication/TokenCredentialAuthenticationProvider.ts
  src/browser/index.ts
  src/index.ts
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:ts

update to version 2.2.0
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

- moves msal dependency to runtime deps
  package-lock.json
  package.json
Due: npm run format:json

2.2.1
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Karma test
  karma.conf.js
  package-lock.json
  package.json
  spec/middleware/MiddlewareUtil.ts
  spec2/development/HardCodedAuthenticationProvider.ts
  spec2/development/secrets.sample.ts
  spec2/development/secrets.ts
  spec2/development/test-helper.ts
  spec2/development/workload/OneNote.ts
  spec2/development/workload/PageIterator.ts
  spec2/development/workload/delta-query.ts
  spec2/development/workload/excel.ts
  spec2/development/workload/groups.ts
  spec2/development/workload/insights.ts
  spec2/development/workload/open-extensions.ts
  spec2/development/workload/users.ts
  src/TestInclusion.ts
  src/browser/TestAll.ts
  tsconfig.json
Due: npm run format:js, npm run format:json, npm run format:ts

Adding project references from spec and aut
  auth/azureTokenCredentials/index.ts
  auth/msal/index.ts
  package-lock.json
  package.json
  rollup.config.js
  spec/package-lock.json
  src/azureCredentials.ts
  src/index.ts
  tsconfig-cjs.json
  tsconfig-es.json
  tsconfig-sub-cjs.json
  tsconfig-sub-es.json
Due: npm run format:js, npm run format:json, npm run format:ts

update typescript and tslib
  package-lock.json
  package.json
Due: npm run format:json

adding the graph api response interface
  src/GraphErrorHandler.ts
Due: npm run format:ts

Changing param type in doc
  src/GraphErrorHandler.ts
Due: npm run format:ts

temporarily resetting package json
  package-lock.json
  package.json
  spec/development/workload/excel.ts
  spec/middleware/ChaosHandler.ts
  spec/middleware/MiddlewareUtil.ts
  src/Version.ts
Due: npm run format:json, npm run format:ts

Updating to isomorphic-fetch 3.00, commenting some tests
  package-lock.json
  package.json
  spec/content/BatchRequestContent.ts
  spec/core/GraphErrorHandler.ts
  spec/core/GraphResponseHandler.ts
  spec/middleware/MiddlewareUtil.ts
  spec/package-lock.json
  spec/package.json
Due: npm run format:json, npm run format:ts

Exporting authProviders from lib folder
  auth/es/azureTokenCredentials/index.ts
  auth/es/msal/index.ts
Due: npm run format:ts

Exporting authProviders from lib folder
  .gitignore
  auth/azureTokenCredentials/index.ts
  package.json
  spec/development/workload/excel.ts
  spec/middleware/ChaosHandler.ts
  tsconfig-cjs.json
  tsconfig-es.json
  tsconfig-sub-cjs.json
  tsconfig-sub-es.json
Due: npm run format:json, npm run format:ts

Removing test/package.json
  package-lock.json
  package.json
  rollup.config.js
  src/browser/TestAll.ts
  test/common/content/BatchRequestContent.ts
  test/development/secrets.ts
  test/development/workload/OneNote.ts
  test/development/workload/PageIterator.ts
  test/development/workload/delta-query.ts
  test/development/workload/excel.ts
  test/development/workload/groups.ts
  test/development/workload/insights.ts
  test/development/workload/open-extensions.ts
  test/development/workload/users.ts
  test/node/content/BatchRequestContent.ts
  test/package-lock.json
  test/package.json
  test/tsconfig-test-cjs.json
Due: npm run format:js, npm run format:json, npm run format:ts

middlewareutil removing getall
  package.json
  test/common/middleware/MiddlewareUtil.ts
  test/development/workload/PageIterator.ts
Due: npm run format:json, npm run format:ts

Extended batching example with image rendering
  docs/content/Batching.md
Due: npm run format:md
