Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

testing requestOptions set in pageiterator
  spec/development/workload/PageIterator.ts
  src/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
Due: npm run format:ts

Use correct class name (#284)
  docs/CustomAuthenticationProvider.md
Due: npm run format:md

Typo in documentation example. (#270)
  docs/Actions.md
Due: npm run format:md

Adding token credential auth provider
  package-lock.json
  package.json
  spec/middleware/MiddlewareUtil.ts
  src/authentication/ITokenCredentialAuthenticationProviderOptions.ts
  src/authentication/TokenCredentialAuthenticationProvider.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:json, npm run format:ts

typos, optional parameters comments
  src/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
Due: npm run format:ts

Enhancement/#311 page iterator request options (#318)
  spec/development/workload/PageIterator.ts
  src/GraphRequest.ts
  src/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
  src/tasks/PageIterator.ts
Due: npm run format:ts

testing with samplenpm
  samples/authprovider/package-lock.json
  samples/authprovider/package.json
  samples/authprovider/src/AuthenticationCodeSample.js
  samples/authprovider/src/AuthenticationCodeSample.js.map
  samples/authprovider/src/AuthenticationCodeSample.ts
  samples/authprovider/tsconfig.json
  spec/middleware/MiddlewareUtil.ts
  src/authentication/TokenCredentialAuthenticationProvider.ts
Due: npm run format:js, npm run format:json, npm run format:ts

Bump version to 2.1.0
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Changing condition for checking content type
  src/GraphRequestUtil.ts
Due: npm run format:ts

Condition change.
  src/HTTPClient.ts
Due: npm run format:ts

Passing midddleware array in client options
  src/HTTPClient.ts
  src/IClientOptions.ts
Due: npm run format:ts

Tests for middleware array
  spec/core/Client.ts
  spec/middleware/MiddlewareFactory.ts
  src/HTTPClient.ts
  src/HTTPClientFactory.ts
  src/IClientOptions.ts
  src/middleware/MiddlewareFactory.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Removing try catch
  spec/core/Client.ts
Due: npm run format:ts

ifnode condition,chain middleware test
  spec/core/Client.ts
  src/HTTPClientFactory.ts
  src/middleware/MiddlewareFactory.ts
Due: npm run format:ts

Adding missing exports
  src/index.ts
Due: npm run format:ts

Array initialization
  src/middleware/MiddlewareFactory.ts
Due: npm run format:ts

Sorting parameter list - chaoshandleroptions
  docs/ChaosHandlerSamples.md
  spec/development/workload/PageIterator.ts
  spec/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
Due: npm run format:md, npm run format:ts

Sorting parameter list - chaoshandleroptions (#334)
  docs/ChaosHandlerSamples.md
  spec/development/workload/PageIterator.ts
  spec/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerOptions.ts
Due: npm run format:md, npm run format:ts

merging with dev
  spec/core/Client.ts
Due: npm run format:ts

Make GraphError real Error
  spec/core/GraphErrorHandler.ts
  src/GraphError.ts
  src/GraphErrorHandler.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Using spread operator
  src/Client.ts
  src/HTTPClient.ts
  src/HTTPClientFactory.ts
  src/browser/index.ts
  src/index.ts
Due: npm run format:ts

Add telemetry for graph-url requests
  spec/middleware/TelemetryHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Checking if middleware is not empty
  spec/core/HTTPClient.ts
  src/HTTPClient.ts
  src/HTTPClientFactory.ts
Due: npm run format:ts

Client init with middleware array (#333)
  spec/core/Client.ts
  spec/core/HTTPClient.ts
  spec/middleware/MiddlewareFactory.ts
  src/Client.ts
  src/HTTPClient.ts
  src/HTTPClientFactory.ts
  src/IClientOptions.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/MiddlewareFactory.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Make GraphError real Error (#335)
  spec/core/GraphErrorHandler.ts
  src/GraphError.ts
  src/GraphErrorHandler.ts
Due: npm run format:ts

Using ternary shorthand, upgrade preview 2.1.0-2
  package-lock.json
  package.json
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/Version.ts
Due: npm run format:json, npm run format:ts

Using ternary shorthand, upgrade preview 2.1.0-2 (#337)
  package-lock.json
  package.json
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/Version.ts
Due: npm run format:json, npm run format:ts

Change GraphRequest.count default value to true
  src/GraphRequest.ts
Due: npm run format:ts

changing.substring parameter, comments to check middleware
  src/GraphRequest.ts
  src/HTTPClient.ts
Due: npm run format:ts

adding tests, urlotherqueryoptions type
  spec/core/urlParsing.ts
  src/GraphRequest.ts
  src/HTTPClient.ts
Due: npm run format:ts

Release - 2.1.0 (#338)
  README.md
  docs/Actions.md
  docs/ChaosHandlerSamples.md
  docs/CustomAuthenticationProvider.md
  docs/CustomMiddlewareChain.md
  docs/GettingRawResponse.md
  docs/tasks/LargeFileUploadTask.md
  package-lock.json
  package.json
  samples/browser/package-lock.json
  scripts/package-lock.json
  spec/core/Client.ts
  spec/core/GraphErrorHandler.ts
  spec/core/GraphRequestUtil.ts
  spec/core/HTTPClient.ts
  spec/core/urlGeneration.ts
  spec/core/urlParsing.ts
  spec/development/workload/OneNote.ts
  spec/development/workload/PageIterator.ts
  spec/middleware/ChaosHandler.ts
  spec/middleware/MiddlewareFactory.ts
  src/Client.ts
  src/GraphError.ts
  src/GraphErrorHandler.ts
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
  src/HTTPClient.ts
  src/HTTPClientFactory.ts
  src/IClientOptions.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/ChaosHandler.ts
  src/middleware/MiddlewareFactory.ts
  src/middleware/options/ChaosHandlerData.ts
  src/middleware/options/ChaosHandlerOptions.ts
  src/middleware/options/ChaosStrategy.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  src/tasks/PageIterator.ts
Due: npm run format:json, npm run format:md, npm run format:ts

HB of localized readme files (#268)
  README-Localized/README-es-es.md
  README-Localized/README-fr-fr.md
  README-Localized/README-ja-jp.md
  README-Localized/README-pt-br.md
  README-Localized/README-ru-ru.md
  README-Localized/README-zh-cn.md
Due: npm run format:md

array of graph urls, url parsing test cases national cloud
  spec/core/urlParsing.ts
  src/GraphRequestUtil.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

using a set object with host names
  src/GraphRequestUtil.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Nikithauc/merge release 2.1.0 dev (#345)
  README-Localized/README-es-es.md
  README-Localized/README-fr-fr.md
  README-Localized/README-ja-jp.md
  README-Localized/README-pt-br.md
  README-Localized/README-ru-ru.md
  README-Localized/README-zh-cn.md
  spec/core/urlParsing.ts
  src/GraphRequest.ts
  src/HTTPClient.ts
Due: npm run format:md, npm run format:ts

Setting GraphError prototype explicity. Version 2.1.1
  package-lock.json
  package.json
  spec/core/GraphErrorHandler.ts
  src/GraphError.ts
  src/Version.ts
Due: npm run format:json, npm run format:ts

custom error non error type set to Graph Error body
  src/CustomAuthenticationProvider.ts
  src/GraphErrorHandler.ts
Due: npm run format:ts

Setting GraphError prototype explicity. Version 2.1.1 (#347)
  package-lock.json
  package.json
  spec/core/GraphErrorHandler.ts
  src/GraphError.ts
  src/Version.ts
Due: npm run format:json, npm run format:ts

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
