Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

.lintstagedrc:

{
	"*.css": ["npm run format:css", "git add"],
	"*.html": ["npm run format:html", "git add"],
	"*.js": ["npm run format:js", "git add"],
	"*.json": ["npm run format:json", "git add"],
	"*.md": ["npm run format:md", "git add"],
	".*rc": ["npm run format:rc", "git add"],
	"*.ts": ["npm run format:ts", "git add"]
}

updated the tests for this case
  spec/core/GraphRequestUtil.ts
Due: npm run format:ts

made change to use undefined instead of null as classname
  src/GraphRequestUtil.ts
Due: npm run format:ts

Made changes to TestingHandler and TestingHandlerData, added unit tests
  spec/middleware/TestingHandler.ts
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerData.ts
Due: npm run format:ts

made changes, createResponse now being called directly, tests updated!
  spec/middleware/TestingHandler.ts
  src/middleware/TestingHandler.ts
Due: npm run format:ts

Made changes after the code review.
  spec/middleware/TestingHandler.ts
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerData.ts
  src/middleware/options/TestingHandlerOptions.ts
  src/middleware/options/TestingStrategy.ts
Due: npm run format:ts

changed cache-control to no-store
  src/middleware/TestingHandler.ts
Due: npm run format:ts

updated the code according to review
  spec/middleware/TestingHandler.ts
  src/middleware/TestingHandler.ts
Due: npm run format:ts

some changes according to code review, regex match working fine
  spec/middleware/TestingHandler.ts
  src/middleware/TestingHandler.ts
Due: npm run format:ts

created testing handler samples doc
  docs/Testing Handler Samples.md
Due: npm run format:md

made changes to support easy custom middleware chain creation, added getNext method to middleware chain
  src/Client.ts
  src/HTTPClient.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/HTTPMessageHandler.ts
  src/middleware/IMiddleware.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
  src/middleware/TestingHandler.ts
Due: npm run format:ts

added tests for this functionality
  spec/core/HTTPClient.ts
  src/HTTPClient.ts
  src/middleware/HTTPMessageHandler.ts
  src/middleware/TestingHandler.ts
Due: npm run format:ts

added functionality to simplify building middleware chain
  spec/core/HTTPClient.ts
  src/Client.ts
  src/HTTPClient.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/IMiddleware.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Rename Testing Handler Samples.md to TestingHandlerSamples.md
  docs/TestingHandlerSamples.md
Due: npm run format:md

Revert "Simplify building middleware chain"
  spec/core/HTTPClient.ts
  src/Client.ts
  src/HTTPClient.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/IMiddleware.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:ts

Updated GraphRequest.ts for .count() scenario
  src/GraphRequest.ts
Due: npm run format:ts

Bumped version to '2.1.0-Preview.1'
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Changed the code according to the change in spec
  spec/middleware/TestingHandler.ts
  src/middleware/TestingHandler.ts
  src/middleware/options/TestingHandlerData.ts
  src/middleware/options/TestingHandlerOptions.ts
Due: npm run format:ts

Changed the code according to the change in spec
  spec/middleware/TestingHandler.ts
Due: npm run format:ts

Changed the names of the files from testingHandler to chaosHandler
  docs/ChaosHandlerSamples.md
  spec/middleware/ChaosHandler.ts
  src/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerData.ts
  src/middleware/options/ChaosHandlerOptions.ts
  src/middleware/options/ChaosStrategy.ts
Due: npm run format:md, npm run format:ts

Update ChaosHandlerSamples.md
  docs/ChaosHandlerSamples.md
Due: npm run format:md

Adding the Modifying middleware chain samples
  docs/CustomMiddlewareChain.md
Due: npm run format:md

- fixes broken link to client instance
  docs/GettingRawResponse.md
Due: npm run format:md

Updated the example to the correct return type
  docs/CustomAuthenticationProvider.md
Due: npm run format:md

fix casing on filename
  docs/tasks/LargeFileUploadTask.md
Due: npm run format:md

made changes to the structure of the code
  spec/middleware/ChaosHandler.ts
  src/middleware/ChaosHandler.ts
Due: npm run format:ts

Update package.json
  package.json
Due: npm run format:json

Made changes to structure, chaos handler final
  docs/ChaosHandlerSamples.md
  spec/middleware/ChaosHandler.ts
  src/middleware/ChaosHandler.ts
Due: npm run format:md, npm run format:ts

Designed ChaosHandler
  docs/ChaosHandlerSamples.md
  docs/content/Batching.md
  spec/middleware/ChaosHandler.ts
  src/middleware/ChaosHandler.ts
  src/middleware/options/ChaosHandlerData.ts
  src/middleware/options/ChaosHandlerOptions.ts
  src/middleware/options/ChaosStrategy.ts
Due: npm run format:md, npm run format:ts

Removing the set and get middleware chain method
  docs/ChaosHandlerSamples.md
  docs/CustomMiddlewareChain.md
  spec/core/HTTPClient.ts
  src/Client.ts
  src/HTTPClient.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/ChaosHandler.ts
  src/middleware/IMiddleware.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:md, npm run format:ts

Create msgraph-sdk-javascript.yml
  msgraph-sdk-javascript.yml
Due: none

HB of localized readme files
  README-Localized/README-es-es.md
  README-Localized/README-fr-fr.md
  README-Localized/README-ja-jp.md
  README-Localized/README-pt-br.md
  README-Localized/README-ru-ru.md
  README-Localized/README-zh-cn.md
Due: npm run format:md

Typo in documentation example.
  docs/Actions.md
Due: npm run format:md

Update msgraph-sdk-javascript.yml
  msgraph-sdk-javascript.yml
Due: none

Use correct class name
  docs/CustomAuthenticationProvider.md
Due: npm run format:md

Update README
  README.md
Due: npm run format:md

Changed parsepath and query functions to split query params on first equals sign considering nested queries. Added comments to query functions
  spec/core/urlGeneration.ts
  spec/core/urlParsing.ts
  src/GraphRequest.ts
Due: npm run format:ts

Correcting spelling in comments, setting the param key directlyand replacing ternary condition with if else
  src/GraphRequest.ts
Due: npm run format:ts

Adding a buildheaders function to conditionally set content type and checking if body is null when serializing content
  src/GraphRequest.ts
  src/GraphRequestUtil.ts
Due: npm run format:ts

Altering condition to be optimal
  src/GraphRequest.ts
Due: npm run format:ts
