Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

Telemetry Handler implementation.
  .vscode/tasks.json
  spec/middleware/MiddlewareControl.ts
  spec/middleware/MiddlewareUtil.ts
  spec/middleware/TelemetryHandler.ts
  spec/middleware/TelemetryHandlerOptions.ts
  src/GraphRequest.ts
  src/HTTPClientFactory.ts
  src/browser/index.ts
  src/index.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/MiddlewareControl.ts
  src/middleware/MiddlewareUtil.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
  src/middleware/options/TelemetryHandlerOptions.ts
Due: npm run format:json, npm run format:ts

Added js doc comments
  spec/middleware/TelemetryHandler.ts
  spec/middleware/TelemetryHandlerOptions.ts
  src/middleware/MiddlewareControl.ts
  src/middleware/TelemetryHandler.ts
  src/middleware/options/TelemetryHandlerOptions.ts
Due: npm run format:ts

fix for modules not working in edge
  tsconfig-es.json
Due: npm run format:json

Bumped version to '1.6.0-Preview.3'
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Bumped version to '1.6.0'
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Added default middleware chain construction note
  src/HTTPClientFactory.ts
Due: npm run format:ts

Bumped version to '1.7.0-Preview.1'
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Fix large response handling
  src/GraphResponseHandler.ts
Due: npm run format:ts

Changes: * Removed polyfill dependencies for fetch and promise * Removed Browserify and replaced it with rollup
  .gitignore
  babel.config.js
  browser-wrapper-dependency.js
  browser-wrapper.js
  browserify-with-dependencies.js
  browserify.js
  package-lock.json
  package.json
  rollup.config.js
  samples/browser/package.json
  samples/browser/src/index.html
  spec/core/Client.ts
  spec/development/test-helper.ts
  spec/test-helper.ts
  src/PolyFill.ts
  src/index.ts
  tsconfig-base.json
  tsconfig-cjs.json
Due: npm run format:html, npm run format:js, npm run format:json, npm run format:ts

Updated readme with installation guide
  README.md
  babel.config.js
Due: npm run format:js, npm run format:md

Added tests for middleware util append request header method
  spec/middleware/MiddlewareUtil.ts
  spec/package-lock.json
  spec/package.json
Due: npm run format:json, npm run format:ts

Upgraded to msal 1.0.0 and made corresponding changes (breaking changes by msal)
  README.md
  package-lock.json
  package.json
  samples/browser/src/index.html
  samples/browser/src/main.js
  spec/package-lock.json
  spec/package.json
  src/MSALAuthenticationProvider.ts
  src/browser/MSALAuthenticationProvider.ts
Due: npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:ts

fix readme typo
  README.md
Due: npm run format:md

Capability to pass in headers while creating upload session in large file upload
  src/tasks/LargeFileUploadTask.ts
Due: npm run format:ts

Fixing https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/171
  spec/core/GraphResponseHandler.ts
  src/GraphErrorHandler.ts
  src/GraphResponseHandler.ts
Due: npm run format:ts

removing invalid tests
  spec/core/GraphErrorHandler.ts
Due: npm run format:ts

Bumped version to '1.7.0-Preview.2'
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Update README.md
  samples/node/README.md
Due: npm run format:md

Bumped version to '1.7.0-Preview.3'
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Update LargeFileUploadTask.md
  docs/tasks/LargeFileUploadTask.md
Due: npm run format:md

Bumped version to '1.7.0'
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Update CallingPattern.md
  docs/CallingPattern.md
Due: npm run format:md

Update GettingRawResponse.md
  docs/GettingRawResponse.md
Due: npm run format:md

Renamed MSALAuthenticationProvider and MSALAuthenticationProviderOptions to ImplicitMSALAuthenticationProvider and ImplicitMSALAuthenticationProviderOptions
  README.md
  docs/CreatingClientInstance.md
  docs/CustomMiddlewareChain.md
  docs/GettingRawResponse.md
  samples/browser/src/main.js
  spec/middleware/AuthenticationHandlerOptions.ts
  spec/middleware/ImplicitMSALAuthenticationProviderOptions.ts
  src/ImplicitMSALAuthenticationProvider.ts
  src/ImplicitMSALAuthenticationProviderOptions.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  src/browser/index.ts
Due: npm run format:js, npm run format:md, npm run format:ts

Update README.md
  README.md
Due: npm run format:md

Removing unnecessary dependencies
  package-lock.json
  package.json
Due: npm run format:json

Renaming ImplicitMSALAuthenticationProviderOptions to MSALAuthenticationProviderOptions
  README.md
  samples/browser/src/main.js
  spec/middleware/AuthenticationHandlerOptions.ts
  spec/middleware/MSALAuthenticationProviderOptions.ts
  src/ImplicitMSALAuthenticationProvider.ts
  src/MSALAuthenticationProviderOptions.ts
  src/browser/ImplicitMSALAuthenticationProvider.ts
  src/browser/index.ts
Due: npm run format:js, npm run format:md, npm run format:ts

Added babel polyfill in readme
  README.md
Due: npm run format:md

Bump version with 2.0.0-Preview.1
  package-lock.json
  package.json
  src/Constants.ts
Due: npm run format:json, npm run format:ts

Auto generation of version file and fix review comments
  .huskyrc
  README.md
  docs/CreatingClientInstance.md
  gulpfile.js
  package-lock.json
  package.json
  scripts/src/gulpfile.js
  spec/middleware/TelemetryHandler.ts
  spec/package-lock.json
  spec/package.json
  src/Version.ts
  src/middleware/TelemetryHandler.ts
Due: npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

2.0.0-Preview.0
  package-lock.json
  package.json
Due: npm run format:json

Picking correct preview version
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Precommit hook will now add generated Version.ts file to commit
  .huskyrc
  src/Version.ts
Due: npm run format:rc, npm run format:ts

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: npm run format:md

Fix CI build error in gulpfile.js: async funcitons are not supported in node v6
  gulpfile.js
Due: npm run format:js

Removed use of .name where practical to support minification
  spec/content/BatchRequestContent.ts
  spec/middleware/MiddlewareControl.ts
  spec/middleware/TelemetryHandlerOptions.ts
  spec/tasks/PageIterator.ts
  src/GraphErrorHandler.ts
  src/GraphRequest.ts
  src/middleware/AuthenticationHandler.ts
  src/middleware/MiddlewareControl.ts
  src/middleware/RedirectHandler.ts
  src/middleware/RetryHandler.ts
  src/middleware/TelemetryHandler.ts
  src/middleware/options/TelemetryHandlerOptions.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
Due: npm run format:ts

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
