Repository microsoftgraph/msgraph-sdk-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:css, npm run format:html, npm run format:js, npm run format:json, npm run format:md, npm run format:rc, npm run format:ts

adding common security template
  .azure-pipelines/ci-build-production.yml
  .azure-pipelines/common-templates/security-post-checks.yml
  .azure-pipelines/common-templates/security-pre-checks.yml
  azure-pipelines.yml
Due: none

using windows image when testing
  .azure-pipelines/ci-build-production.yml
Due: none

junit runner; publish result
  .azure-pipelines/ci-build-production.yml
  .gitignore
  .npmignore
  package-lock.json
  package.json
Due: npm run format:json

contents to ignore
  .azure-pipelines/ci-build-production.yml
Due: none

script for each line
  .azure-pipelines/ci-build-production.yml
Due: none

displayName for each script
  .azure-pipelines/ci-build-production.yml
Due: none

Build pipeline (#1026)
  .azure-pipelines/ci-build-production.yml
  .azure-pipelines/common-templates/security-post-checks.yml
  .azure-pipelines/common-templates/security-pre-checks.yml
  .gitignore
  .npmignore
  package-lock.json
  package.json
Due: npm run format:json

update package.json
  package.json
Due: npm run format:json

delete and recreate lock file
  package-lock.json
Due: npm run format:json

retry package-lock
  package-lock.json
Due: npm run format:json

change the excluded contents of artifact
  .azure-pipelines/ci-build-production.yml
Due: none

reset the cursor
  src/tasks/PageIterator.ts
  test/common/tasks/PageIterator.ts
  test/development/workload/PageIterator.ts
Due: npm run format:ts

adding test with large numbers
  src/tasks/PageIterator.ts
  test/common/tasks/PageIterator.ts
Due: npm run format:ts

v 3.0.4
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

Hotfix - Page iterator reset counter (#1046)
  src/tasks/PageIterator.ts
  test/common/tasks/PageIterator.ts
  test/development/workload/PageIterator.ts
Due: npm run format:ts

v 3.0.4 (#1047)
  package-lock.json
  package.json
  src/Version.ts
Due: npm run format:json, npm run format:ts

- updates kiota dependencies
  package-lock.json
  package.json
Due: npm run format:json

- adds missing kiota dependencies - updates scripts with kiota related changes
  package-lock.json
  package.json
Due: npm run format:json

- fixes page iterator tests after main branch merge
  test/common/tasks/PageIterator.ts
Due: npm run format:ts

4.0.0-Preview.2
  package-lock.json
  package.json
Due: npm run format:json

- updates version number
  src/Version.ts
Due: npm run format:ts

v4 preview refresh (#1077)
  .azure-pipelines/ci-build-production.yml
  .azure-pipelines/common-templates/security-post-checks.yml
  .azure-pipelines/common-templates/security-pre-checks.yml
  .github/fabricbot.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/projectbot.yml
  .gitignore
  .npmignore
  README.md
  docs/AuthCodeMSALBrowserAuthenticationProvider.md
  docs/CreatingClientInstance.md
  docs/CustomMiddlewareChain.md
  docs/TokenCredentialAuthenticationProvider.md
  docs/tasks/LargeFileUploadTask.md
  package-lock.json
  package.json
  samples/package-lock.json
  src/Version.ts
  src/tasks/LargeFileUploadTask.ts
  src/tasks/OneDriveLargeFileUploadTask.ts
  src/tasks/PageIterator.ts
  test/common/tasks/LargeFileUploadTask.ts
  test/common/tasks/PageIterator.ts
  test/development/workload/PageIterator.ts
  test/development/workload/largeFileUpload.ts
Due: npm run format:json, npm run format:md, npm run format:ts

Initial push of selective imports
  design/kiota-e2e.md
  design/service-library.md
Due: npm run format:md

Adding more selective imports scenarios
  design/service-library.md
Due: npm run format:md

Completed first pass for the service library
  design/assets/service-library/child-resources-remarks.png
  design/service-library.md
Due: npm run format:md

headers prop in GraphError
  src/GraphError.ts
  src/GraphErrorHandler.ts
  src/GraphRequest.ts
Due: npm run format:ts

rollup and terser update
  package-lock.json
  package.json
  rollup.config.js
Due: npm run format:js, npm run format:json

Update ci_validation.yml
  .github/workflows/ci_validation.yml
Due: none

terser 0.3.0
  package-lock.json
  package.json
Due: npm run format:json

recreate lock json
  package-lock.json
Due: npm run format:json

Rollup and rollup-terser bump dependency version (#1129)
  .github/workflows/ci_validation.yml
  package-lock.json
  package.json
  rollup.config.js
Due: npm run format:js, npm run format:json

update mocha and introduce esm test project
  .gitignore
  .npmignore
  package-lock.json
  package.json
  test-esm/README.md
  test-esm/package-lock.json
  test-esm/package.json
  test-esm/tests/testESM.ts
  test-esm/tsconfig.json
Due: npm run format:json, npm run format:md, npm run format:ts

update ci step
  .github/workflows/ci_validation.yml
  test-esm/package.json
Due: npm run format:json

remove run ci
  .github/workflows/ci_validation.yml
Due: none

Mocha version update (#1131)
  .github/workflows/ci_validation.yml
  .gitignore
  .npmignore
  package-lock.json
  package.json
  test-esm/README.md
  test-esm/package-lock.json
  test-esm/package.json
  test-esm/tests/testESM.ts
  test-esm/tsconfig.json
Due: npm run format:json, npm run format:md, npm run format:ts

adding test
  src/GraphError.ts
  src/GraphErrorHandler.ts
  test/common/core/GraphErrorHandler.ts
Due: npm run format:ts

Update README.md
  README.md
Due: npm run format:md

changing the headers type
  shims.d.ts
  src/GraphError.ts
  src/GraphErrorHandler.ts
  test/common/core/GraphErrorHandler.ts
Due: npm run format:ts

remove commented code
  src/GraphRequest.ts
Due: npm run format:ts

Update README.md (#1134)
  README.md
Due: npm run format:md

Path conditions:
  npm run format:css: any of: *.css
  npm run format:html: any of: *.html
  npm run format:js: any of: *.js
  npm run format:json: any of: *.json
  npm run format:md: any of: *.md
  npm run format:rc: any of: .*rc
  npm run format:ts: any of: *.ts
